.tx-status-icon-QUEUING {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/icons/Queuing.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-positive);
    margin: 0.5rem;
    margin-top: 3px;
    margin-right: 1rem;
    flex-grow: 0;
}
.tx-status-icon-QUEUED {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/icons/Queued.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-positive);
    margin: 0.5rem;
    margin-top: 3px;
    margin-right: 1rem;
    flex-grow: 0;
}
.tx-status-icon-CONFIRMED {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/icons/Confirmed.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-positive);
    margin: 0.5rem;
    margin-top: 3px;
    margin-right: 1rem;
    flex-grow: 0;
}
.tx-status-icon-CONFIRMING {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/icons/Confirming.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-positive);
    margin: 0.5rem;
    margin-top: 3px;
    margin-right: 1rem;
    flex-grow: 0;
}
.tx-status-icon-FAILED {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/icons/Failed.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-negative);
    margin: 0.5rem;
    margin-top: 3px;
    margin-right: 1rem;
    flex-grow: 0;
}

.custom-table .ant-table-tbody > tr:nth-child(n + 2) > td {
    // border-bottom: 2px solid #2e3238 !important;
    background-color: var(--surface-color-2);
}
.custom-table-light .ant-table-tbody > tr:nth-child(n + 2) > td {
    background-color: var(--surface-color-2);
    border-bottom: 0px;
}
.ant-empty-description {
    color: white;
}
.custom-table-light .ant-empty-description {
    color: black;
}
.ant-table-placeholder {
    :hover {
        background: transparent !important;
    }
}

.table-status-icon {
    font-size: 12px;
    color: var(--color-semantic-positive);
    font-family: var(--main-font);
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.components-table-demo-control-bar .ant-form-item {
    margin-right: 16px;
    margin-bottom: 8px;
}

.event-action {
    font-weight: 500;
    font-size: 15px;
}

.custom-table .ant-table-expanded-row > td,
.custom-table .ant-table-expanded-row:hover > td {
    // background: #2E2B2E !important;
}

.custom-table-light .ant-table-expanded-row > td,
.custom-table-light .ant-table-expanded-row:hover > td {
    background: #fafafafa !important;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.currency-tx {
    font-weight: 600;
    div {
        display: inline-block;
    }
}

.custom-table .ant-pagination-item {
    background-color: transparent;
    color: var(--color-text-secondary);
    border: none;
}
.custom-table-light .ant-pagination-item {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
}

.ant-pagination-item a {
    color: var(--color-text-secondary);
}
.custom-table-light .ant-pagination-item a {
    color: #000000;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    background-color: transparent;
    color: var(--color-text-secondary);
    border: none;
}
.custom-table-light .ant-pagination-prev .ant-pagination-item-link,
.custom-table-light .ant-pagination-next .ant-pagination-item-link {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
}

.ant-pagination-item-active a {
    color: var(--color-text-primary);
}
.custom-table-light .ant-pagination-item-active a {
    color: rgb(0, 0, 0);
}

.ant-pagination-item-active {
    background-color: transparent;
    color: white;
    border: none;
}
.custom-table-light .ant-pagination-item-active {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
}

.table-expanded-row {
    padding-left: 2rem;
    font-weight: 100;
}

.table-asset-name {
    padding-top: 4px;
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0.3499999940395355px;
    text-align: center;
}

.table-event-name {
    font-family: var(--main-font);
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1.2000000476837158px;
    text-align: right;
    font-size: 12px;
    color: #7f8999;
}

.table-status-icon-green {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0px;
    text-align: left;
    color: #2cbf12;
}

.table-status-icon-red {
    color: var(--color-semantic-negative) !important;
}

.table-icon-name {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    min-width: 4rem;
    text-align: center;
    margin-right: 0.5rem;
}

.table-date-name {
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #7f8999;
}

.table-date {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.icon-token-modif {
    display: block !important;
    margin: auto !important;
    width: 32px !important;
    height: 32px !important;
    background-size: 32px 32px !important;
    background-repeat: no-repeat !important;
}

.table-amount {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.612500011920929px;
    text-align: right;
}

.table-border-single::after,
.ant-table-row-expand-icon-cell::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 2px;
    background-color: var(--dividers);
}

.custom-border-spacing-table .ant-table table {
    border-spacing: 0 4px;
}

.ant-descriptions-item-content {
    color: var(--color-text-primary);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    width: 20%;
}
.ant-descriptions-item-label-th {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.ant-descriptions-a {
    color: #1890ff;
    cursor: pointer;
}

.color-confirmed {
    color: #478210;
}

.color-confirming {
    color: #1890ff;
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    position: fixed !important;
}

.show-desk {
    display: inline-block;
}

.show-mobile {
    display: none;
}

.conf_title:first-letter {
    text-transform: uppercase;
}

.Tooltip {
    color: #707070;
    cursor: pointer;
}

.ant-tooltip-inner {
    color: white;
    font-size: 13px;
    font-weight: 500;
}
