$breakpoint-mobile: 600px;

.ChartContainer {
    margin-top: 0;
}
@media (max-width: #{$breakpoint-mobile}) {
    .firstCardsGroup {
        gap: 24px;
    }
    .tab-content {
        flex-direction: column-reverse;
        .ChartContainer {
            width: 100%;
        }
        .stakeCTA {
            margin-top: 20px;
            width: 100%;
        }
    }
}
