.voting__status__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 32px;
    width: 100%;
}

.voting__status__stats {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 32px;
    width: 100%;
}
.current-state {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    font-family: var(--brand-font);
}
.voting__status__state {
    color: var(--color-text-secondary);
    a {
        cursor: pointer;
        text-decoration: underline;
        color: var(--color-text-secondary);
    }
}
.voting__status__dashboard {
    display: flex;
    gap: 32px;
    width: 100%;
    .voting__status__graphs {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }
    .voting__status__votingInfo {
        width: 100%;
    }
}
.voting__status__votingOptions {
    width: 100%;
}
.balance-graph {
    width: 100%;
    .balance-graph__labels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
    }
}
.balance-graph__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24px;
    .against {
        border-radius: var(--button-radius-tiny) 0px 0px
            var(--button-radius-tiny);
        background-color: var(--color-semantic-negative);
    }
    .infavor {
        border-radius: 0px var(--button-radius-tiny) var(--button-radius-tiny)
            0px;
        background-color: var(--color-semantic-positive);
    }
    .maxvalue {
        border-radius: var(
            --button-radius-tiny
        ); // Round all edges if value is 100%
    }
    .graphDivider {
        width: 2px;
    }
}

.voting__status__votingButtons {
    display: flex;
    justify-content: center;
    gap: 24px;
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        box-shadow: none;
        padding-right: 32px;
        padding-left: 32px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        font-family: var(--brand-font);
    }
    .icon {
        filter: var(--color-button-primary-icon-filter-default);
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
    }
    .against {
        background-color: var(--color-semantic-negative);
    }

    .infavor {
        background-color: var(--color-semantic-positive);
    }
}
.bar-graph__wrapper {
    margin-bottom: 12px;
    font-size: 10px;
    text-transform: uppercase;
}
.bar-graph__container {
    display: flex;
    position: relative;
    justify-content: stretch;
    margin-top: 4px;
    border-radius: var(--button-radius-tiny);
    background-color: #26272f;
    width: 100%;
    height: 8px;
    .needed {
        opacity: 0.15;

        height: 100%;
    }
    .gauge {
        border-radius: var(--button-radius-tiny) 0px 0px
            var(--button-radius-tiny);
    }
    .brand {
        background-color: var(--brand-color-base);
    }
    .positive {
        background-color: var(--color-semantic-positive);
    }
    .negative {
        background-color: var(--color-semantic-negative);
    }
    .maxvalue {
        border-radius: var(
            --button-radius-tiny
        ); // Round all edges if value is 100%
    }
}

.votingInfo__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    width: 100%;
    color: var(--color-text-secondary);
    font-size: 14px;
    .label {
        width: 168px;
    }
}
