@import '~antd/dist/antd.css';

// Variables

:root {
    // Theme used by default. Use "ligth" or "dark"
    --default-theme: 'light';

    //
    // LIGTH MODE VARIABLES FROM HERE
    //

    // Branding
    --brand-logo-main: url('../icons/logo-app.svg');
    --brand-background-gradient: url('../img/background-gradient-light.svg');

    // Cards
    --card-border-radius: 0px;
    --card-padding: 32px;

    // Modals
    --modals-padding: 16px 16px 16px 16px;
    --modals-border-radius: 4px;
    --modals-backdrop-color: rgba(18, 17, 17, 0.3);
    --modals-backdrop-blur: 1.8px;
    --modals-padding: 16px 16px 16px 16px;
    --modals-border-radius: 0px;

    //Surfaces
    --surface-color-0: #f5f5f5;
    --surface-color-1: rgba(255, 255, 255, 0.7);
    --surface-shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-2: rgba(255, 255, 255, 0.8);
    --surface-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-3: #ffffff;
    --surface-shadow-3: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-inset: #fafafafa;
    --surface-shadow-inset: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    // Token icons
    --icon-token-size: 32px;

    // Dashboard icons background color
    --icon-background-color: #bbbed81a;

    // UI controls

    --color-controls-background: #f2f2f2;
    --color-controls-foreground-disabled: #d7d7d7;
    --color-controls-foreground-off: #8c8c89;
    --color-controls-foreground-on: #3b3b3b;
    --color-controls-active: #000000;

    --dividers: #cbd4da;

    // Buttons - common

    --button-radius: 28px;
    --button-width: 200px;
    --button-height: 54px;
    --button-transition: 0.3s;

    // Buttons - Primary

    --color-button-primary-background-default: #000000;
    --color-button-primary-text-default: #ffffff;
    --color-button-primary-filter-default: invert(0%) sepia(98%) saturate(0%)
        hue-rotate(153deg) brightness(92%) contrast(100%);

    --color-button-primary-background-hover: #4b5cf0;
    --color-button-primary-text-hover: #ffffff;
    --color-button-primary-filter-hover: invert(28%) sepia(43%) saturate(5376%)
        hue-rotate(230deg) brightness(102%) contrast(88%);

    --color-button-primary-background-active: #4b5cf0;
    --color-button-primary-text-active: #ffffff;

    --color-button-primary-background-disabled: #d5d5d5;
    --color-button-primary-text-disabled: #959595;

    --color-button-primary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0.2);

    // Buttons - Secondary

    --color-button-secondary-background-default: transparent;
    --color-button-secondary-text-default: #000000;

    --color-button-secondary-background-hover: transparent;
    --color-button-secondary-text-hover: #4b5cf0;

    --color-button-secondary-background-active: #000000;
    --color-button-secondary-text-active: #000000;

    --color-button-secondary-background-disabled: #000000;
    --color-button-secondary-text-disabled: #000000;

    --color-button-secondary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0.2);

    // Semantic

    --color-semantic-negative: #e54a49;
    --color-semantic-neutral: #b5b5b5;
    --color-semantic-positive: #2cbf12;
    --filter-semantic-negative: invert(33%) sepia(83%) saturate(710%)
        hue-rotate(320deg) brightness(106%) contrast(97%);
    --filter-semantic-neutral: invert(88%) sepia(0%) saturate(2518%)
        hue-rotate(294deg) brightness(90%) contrast(71%);
    --filter-semantic-positive: invert(63%) sepia(23%) saturate(7464%)
        hue-rotate(73deg) brightness(99%) contrast(91%);

    --notification-success-background: var(--color-semantic-positive);
    --notification-error-background: var(--color-semantic-negative);
    --notification-warning-background: #0d0d0d;
    --notification-info-background: #b5b5b5;

    // Main navigation colors

    --color-navigation-background-default: transparent;
    --color-navigation-text-default: #000000;
    --color-navigation-icon-filter-default: invert(0%) sepia(6%) saturate(0%)
        hue-rotate(77deg) brightness(105%) contrast(106%);

    --color-navigation-background-hover: transparent;
    --color-navigation-text-hover: #000000;
    --color-navigation-icon-filter-hover: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --color-navigation-background-active: #000000;
    --color-navigation-text-active: #ffffff; //over hover color
    --color-navigation-icon-filter-active: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);

    --color-navigation-background-disabled: transparent;
    --color-navigation-text-disabled: #e0e0e0; //over hover color
    --color-navigation-icon-filter-disabled: invert(85%) sepia(10%) saturate(1%)
        hue-rotate(314deg) brightness(106%) contrast(91%);

    // Language navigation colors

    --color-language-background-default: transparent;
    --color-language-text-default: #000000;
    --color-language-icon-filter-default: invert(0%) sepia(6%) saturate(0%)
        hue-rotate(77deg) brightness(105%) contrast(106%);

    --color-language-background-hover: #000000;
    --color-language-text-hover: #ffffff;
    --color-language-icon-filter-hover: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --color-language-background-active: transparent;
    --color-language-text-active: #4b5cf0; //over hover color
    --color-language-icon-filter-active: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);

    --color-language-background-disabled: transparent;
    --color-language-text-disabled: #e0e0e0; //over hover color
    --color-language-icon-filter-disabled: invert(85%) sepia(10%) saturate(1%)
        hue-rotate(314deg) brightness(106%) contrast(91%);

    // Text colors & fonts

    --color-text-primary: #000000;
    --color-text-secondary: #7f8a99;
    --color-text-highlight: #000000;
    --color-text-link: #000000;
    --color-text-notification: #ffffff;
    --link-text-style: underline;

    --color-icon-link-filter: invert(0%) sepia(90%) saturate(1895%)
        hue-rotate(225deg) brightness(99%) contrast(90%);
    --color-icon-link-secondary-filter: invert(52%) sepia(16%) saturate(329%)
        hue-rotate(175deg) brightness(101%) contrast(86%);

    --brand-font: 'Sora', sans-serif;
    --main-font: 'Open Sans', sans-serif;

    // rLogin

    --rlogin-themeswitcher-display: none;
    --rlogin-title-background-color: black;
    --rlogin-content-title-color: black;
    --rlogin-content-background-color: white;
    --rlogin-content-shadow-inset: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --rlogin-content-border-color: black;
    --rlogin-content-text-color: var(--color-text-primary);
    --rlogin-provider-background-color: #f2f2f2;
    --rlogin-provider-border-color: #fff383;
    --rlogin-provider-border-shadow: 0px 0px 0px rgba(18, 18, 19, 0.1);
    --rlogin-spinner-color: #4b5cf0;

    --rlogin-border-radius: 0px;
    --rlogin-poweredby-color: white;
    --rlogin-logo-filter-color: invert(26%) sepia(90%) saturate(1895%)
        hue-rotate(225deg) brightness(99%) contrast(90%);

    //
    // DARK MODE VARIABLES FROM HERE
    //

    &:has(#color-scheme-selector:checked) {
        // Branding
        --brand-logo-main: url('../icons/logo-app-dark.svg');
        --brand-background-gradient: url('../img/background-gradient-dark.svg');

        // Cards
        --card-border-radius: 0px;
        --card-padding: 32px;

        // Modals
        --modals-padding: 16px 16px 16px 16px;
        --modals-border-radius: 4px;
        --modals-backdrop-color: rgba(18, 17, 17, 0.3);
        --modals-backdrop-blur: 1.8px;
        --modals-padding: 16px 16px 16px 16px;
        --modals-border-radius: 4px;

        //Surfaces
        --surface-color-0: #000000;
        --surface-color-1: #100f0f;
        --surface-shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
        --surface-color-2: #1d1d20;
        --surface-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
        --surface-color-3: #19191a;
        --surface-shadow-3: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
        --surface-color-inset: #1b1b1d;
        --surface-shadow-inset: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);

        // Token icons
        --icon-token-size: 32px;

        // Dashboard icons background color
        --icon-background-color: #2b2e34;

        // UI controls
        --color-controls-background: #26272f;
        --color-controls-disabled: #494c50;
        --color-controls-foreground-off: #8c8c89;
        --color-controls-foreground-on: #7f8a99;
        --color-controls-active: #1277ab;

        --dividers: #cbd4da;

        // Buttons - Common
        --button-radius: 28px;
        --button-width: 200px;
        --button-height: 54px;
        --button-transition: 0.3s;

        // Buttons - Primary
        --color-button-primary-background-default: #f3ebeb;
        --color-button-primary-text-default: #000000;
        --color-button-primary-filter-default: invert(99%) sepia(37%)
            saturate(942%) hue-rotate(302deg) brightness(115%) contrast(90%);

        --color-button-primary-background-hover: #5564e8;
        --color-button-primary-text-hover: #f3ebeb;
        --color-button-primary-filter-hover: invert(36%) sepia(88%)
            saturate(927%) hue-rotate(210deg) brightness(92%) contrast(99%);

        --color-button-primary-background-active: #5564e8;
        --color-button-primary-text-active: #ffffff;

        --color-button-primary-background-disabled: #d8e2e2;
        --color-button-primary-text-disabled: #8b9b99;

        --color-button-primary-background-default-shadow: 0px 4px 8px
            rgba(55, 25, 147, 0.2);

        // Buttons - Secondary
        --color-button-secondary-background-default: transparent;
        --color-button-secondary-text-default: #f3ebeb;

        --color-button-secondary-background-hover: transparent;
        --color-button-secondary-text-hover: #5564e8;

        --color-button-secondary-background-active: transparent;
        --color-button-secondary-text-active: #5564e8;

        --color-button-secondary-background-disabled: #5c6e6c;
        --color-button-secondary-text-disabled: #334543;

        --color-button-secondary-background-default-shadow: 0px 4px 8px
            rgba(147, 144, 25, 0.2);

        // Semantic
        --color-semantic-negative: #e95e5d;
        --color-semantic-neutral: #b5b5b5;
        --color-semantic-positive: #69e453;
        --filter-semantic-negative: invert(33%) sepia(83%) saturate(710%)
            hue-rotate(320deg) brightness(106%) contrast(97%);
        --filter-semantic-neutral: invert(88%) sepia(0%) saturate(2518%)
            hue-rotate(294deg) brightness(90%) contrast(71%);
        --filter-semantic-positive: invert(63%) sepia(23%) saturate(7464%)
            hue-rotate(73deg) brightness(99%) contrast(91%);

        --notification-success-background: var(--color-semantic-positive);
        --notification-error-background: var(--color-semantic-negative);
        --notification-warning-background: #0d0d0d;
        --notification-info-background: #b5b5b5;

        // Main navigation colors
        --color-navigation-background-default: transparent;
        --color-navigation-text-default: #f3ebeb;
        --color-navigation-icon-filter-default: invert(90%) sepia(6%)
            saturate(0%) hue-rotate(77deg) brightness(105%) contrast(106%);

        --color-navigation-background-hover: transparent;
        --color-navigation-text-hover: #f3ebeb;
        --color-navigation-icon-filter-hover: invert(90%) sepia(6%) saturate(0%)
            hue-rotate(77deg) brightness(105%) contrast(106%);

        --color-navigation-background-active: #f3ebeb;
        --color-navigation-text-active: #000000; //over hover color
        --color-navigation-icon-filter-active: invert(0%) sepia(0%) saturate(0%)
            hue-rotate(288deg) brightness(102%) contrast(103%);

        --color-navigation-background-disabled: transparent;
        --color-navigation-text-disabled: #e0e0e0; //over hover color
        --color-navigation-icon-filter-disabled: invert(100%) sepia(20%)
            saturate(6237%) hue-rotate(317deg) brightness(107%) contrast(115%);

        // Language navigation colors
        --color-language-background-default: transparent;
        --color-language-text-default: #7f8a99;
        --color-language-icon-filter-default: invert(0%) sepia(6%) saturate(0%)
            hue-rotate(77deg) brightness(105%) contrast(106%);

        --color-language-background-hover: #f3ebeb;
        --color-language-text-hover: #0c0c08;
        --color-language-icon-filter-hover: invert(0%) sepia(8%) saturate(7469%)
            hue-rotate(300deg) brightness(103%) contrast(110%);

        --color-language-background-active: transparent;
        --color-language-text-active: #5564e8; //over hover color
        --color-language-icon-filter-active: invert(100%) sepia(100%)
            saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

        --color-language-background-disabled: transparent;
        --color-language-text-disabled: #e0e0e0; //over hover color
        --color-language-icon-filter-disabled: invert(85%) sepia(10%)
            saturate(1%) hue-rotate(314deg) brightness(106%) contrast(91%);

        // Text colors & fonts
        --color-text-primary: #b1c6c3;
        --color-text-secondary: #7f8a99;
        --color-text-highlight: #5564e8;
        --color-text-link: #5564e8;
        --color-text-notification: #f3ebeb;
        --link-text-style: underline;

        --color-icon-link-filter: invert(36%) sepia(88%) saturate(927%)
            hue-rotate(210deg) brightness(92%) contrast(99%);
        --color-icon-link-secondary-filter: invert(52%) sepia(16%)
            saturate(329%) hue-rotate(175deg) brightness(101%) contrast(86%);

        --brand-font: 'Sora', sans-serif;
        --main-font: 'Open Sans', sans-serif;

        // rLogin
        --rlogin-themeswitcher-display: none;
        --rlogin-title-background-color: #5564e8;
        --rlogin-content-title-color: #f3ebeb;
        --rlogin-content-background-color: #0f0f10;
        --rlogin-content-shadow-inset: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        --rlogin-content-border-color: #5564e8;
        --rlogin-content-text-color: var(--color-text-primary);
        --rlogin-provider-background-color: #3e424a;
        --rlogin-provider-border-color: #08374f;
        --rlogin-provider-border-shadow: 0px 0px 0px rgba(18, 18, 19, 0.1);
        --rlogin-spinner-color: #5564e8;

        --rlogin-border-radius: 0px;
        --rlogin-poweredby-color: #f3ebeb;
        --rlogin-logo-filter-color: invert(100%) sepia(90%) saturate(0%)
            hue-rotate(225deg) brightness(99%) contrast(90%);
    }
}

#root {
    font-family: var(--main-font);
    background-color: var(--surface-color-0) !important;
    background-image: var(--surface-background-image);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

//Hide MOC fee selector inside Exchange

.dashboard-exchange {
    .ant-radio,
    .ant-radio-disabled {
        display: none !important;
    }
    .ant-space > div:last-child {
        display: none !important;
    }
    .ant-radio.ant-radio-checked > span {
        margin-left: 0px;
    }
    .ant-radio-wrapper > span {
        padding: 0px !important;
        cursor: default !important;
    }
}
