/*
IMPORTANT!
_removed_styles.scss SHOULDN'T be used. It SHOULDN'T be linked. Contains deprecated or updated styles for backup purposes only
*/

#root,
.html {
    background-color: var(--surface-color-0);
}

/* Modal Confirm operation */

.ModalConfirmOperation {
    font-family: var(--brand-font);

    .ant-modal-header {
        background-color: transparent !important;
        border-bottom: 0 !important;
        font-style: italic;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        padding: 24px 24px;
    }

    .ant-modal-title {
        color: var(--color-text-primary) !important;
        font-family: var(--brand-font);
        font-size: 20px !important;
        font-weight: 700 !important;
        font-style: normal !important;
        letter-spacing: 0px !important;
        text-align: left !important;
    }

    .ant-modal-body {
        // padding: 14px 32px;
        width: 100%;
    }

    .ant-modal-content {
        // border: 0 !important;
        // padding: var(--modals-padding);
    }

    .ant-modal-close-x {
        color: var(--color-text-primary);
    }
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

.confirm-operation {
    font-family: var(--brand-font);
    display: flex;
    flex-direction: column;
    align-items: center;

    .exchange {
        /* Exchange */
        /*gap: 16px;*/
        /*width: 451px;*/
        width: 380px;
        /*height: 122px;*/
        // margin-bottom: 0px !important;
        .warning-msg {
            font-family: var(--brand-font);
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 14px;
            text-align: center;
            color: var(--color-text-secondary);
        }
        .swapFrom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0;

            .value {
                opacity: 1;
                color: var(--color-text-primary);
                font-family: var(--brand-font);
                font-size: 24px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: 0px;
                text-align: left;
            }

            .token {
                opacity: 1;
                color: var(--color-text-secondary);
                font-family: var(--brand-font);
                font-size: 20px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: 0px;
                text-align: right;
            }
        }

        .limitSection {
            .limitWarning {
                display: block;
                font-family: var(--brand-font);
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                text-align: left;
                color: var(--color-text-secondary);
            }
        }

        .swapArrow {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin-top: 24px;
            // margin-bottom: 24px;
        }

        .swapTo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            .value {
                color: var(--color-text-primary);
                font-family: var(--brand-font);
                font-size: 24px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: 0px;
                text-align: left;
            }

            .address {
                color: var(--color-text-primary);
                font-family: var(--main-font);
                font-size: 15px;
                font-weight: 600;
                // font-style: bold;
                letter-spacing: 0px;
                text-align: left;
                margin-bottom: 32px;
            }

            .token {
                color: (var(--color-text-secondary));
                font-family: var(--brand-font);
                font-size: 20px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: 0px;
                text-align: right;
            }
        }
    }

    .prices {
        align-items: flex-start;
        padding: 0;
        gap: 8px;
        width: 451px;
        height: 42px;
        margin-top: 24px;

        .rate_1 {
            width: 451px;
            height: 17px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #c3ccd9;
        }
        .rate_2 {
            width: 242px;
            height: 17px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #c3ccd9;
            margin-top: 8px;
        }
    }

    .separator {
        width: 100%;
        height: 0;
        border: 1px solid var(--dividers);
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .fees {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        width: 100%;
        // height: 61px;
        margin-bottom: 16px;

        .value,
        .execution-fee {
            color: var(--color-text-primary);
            font-family: var(--brand-font);
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
        }

        .disclaimer {
            width: 436px;
            height: 28px;
            opacity: 1;
            color: var(--color-text-secondary);
            font-family: var(--brand-font);
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    .tx-submit {
        width: 100%;
    }

    .customize-tolerance {
        .CollapseTolerance {
            .ant-collapse-content {
                background-color: var(--surface-color-1);
                border-top: 0px;
            }

            .PriceVariationContainer {
                .warningSlider {
                    color: var(--color-text-primary);
                    font-family: var(--main-font);
                    font-size: 12px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: 0px;
                    text-align: left;
                }

                .ant-slider {
                    height: 8px !important;

                    .ant-slider-rail {
                        background-color: var(--color-controls-background);
                    }

                    .ant-slider-handle {
                        background-color: var(--color-controls-foreground-on);
                        border: solid 2px var(--color-controls-foreground-on);
                    }
                    .ant-slider-track {
                        background-color: var(--color-controls-foreground-on);
                    }

                    .ant-slider-dot-active {
                        border-color: var(--color-controls-foreground-on);
                        background-color: var(--color-controls-foreground-on);
                    }

                    .ant-slider-mark-text,
                    .ant-slider-mark-text-active {
                        color: var(--color-controls-foreground-on) !important;
                    }
                }
            }

            .PriceVariationSetting {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .SliderText {
                    margin-left: 8px;
                    color: var(--color-text-primary);
                }
            }
        }

        .ant-collapse {
            background-color: transparent;
            border: none;
        }
        .ant-collapse > .ant-collapse-item {
            border-bottom: none;
        }
    }

    .exchanging {
        color: var(--color-text-highlight);
        font-family: var(--brand-font);
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 24px;
    }

    .actions-buttons {
        text-align: center;
        width: 100%;
        margin-top: 32px;

        .btn-clear {
            margin-right: 8px;
        }

        .btn-confirm {
            margin-left: 8px;
        }
    }

    .tx-submit {
    }
    .error-container {
        color: var(--color-text-highlight);
        font-family: var(--brand-font);
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 5px;
    }
    .confirm-error {
        color: var(--color-semantic-negative);
        font-family: var(--brand-font);
        font-size: 13px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 24px;
    }
    .tx-sent {
        .status {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 8px;
            width: 387px;

            .transaction-id {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0px;
                gap: 24px;
                width: 100%;
                height: 22px;

                .label {
                    width: 130px;
                    height: 17px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: var(--color-text-primary);
                }

                .address-section {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0px;
                    gap: 8px;
                    width: 163px;
                    height: 22px;

                    .address a {
                        width: 136px;
                        height: 17px;
                        opacity: 1;
                        color: var(--color-text-link);
                        font-size: 14px;
                        font-weight: 400;
                        font-style: normal;
                        letter-spacing: 0px;
                        text-align: right;
                        text-decoration: underline;
                    }
                }
            }

            .tx-logo-status {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                gap: 16px;
                width: 387px;
                height: 32px;
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .status-label {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: var(--color-text-highlight);
                margin-bottom: 32px;
            }
        }

        .waiting {
        }

        .success {
        }

        .error {
        }
    }
}

// [START] Icon definitions

// [END] Icon definitions

/* Modal Allowance */

/* Modal Allowance & Account */

.ModalAllowance,
.ModalAccount {
    font-family: var(--main-font);

    .ant-modal-header {
        background-color: transparent !important;
        border-bottom: 0 !important;
        font-style: italic;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        // padding: 10px 32px 10px 32px;
    }

    .ant-modal-title {
        /*color: #f1eb14 !important;*/
        text-align: left;
        padding-top: 20px;
        opacity: 1;
        font-family: var(--brand-font);
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        color: var(--color-text-primary) !important;
    }

    .ant-modal-close-x {
        color: var(--color-text-primary);
    }

    .ant-modal-close {
        top: 8px;
    }

    .ant-modal-body {
        padding: var(--modals-padding);
    }
    .allowance-feedback {
        width: 100%;
    }
}

/*
    --- Allowance Dialog ---
*/

.AllowanceDialog {
    font-family: var(--main-font);
    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 24px;
        width: 100%;
        .status-submit {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            width: 100%;
            height: 200px;

            .status-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;

                width: 100%;
                height: 34px;

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: var(--color-text-primary);
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
            }

            .remember-this {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0px;
                gap: 8px;
                width: 424px;
                height: 32px;
                margin-top: 30px;
                .check-unlimited {
                    height: 17px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: var(--color-text-primary);
                }
            }
        }

        .status-tx {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 24px;
            width: 420px;
            height: 167px;

            .status-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;

                width: 409px;
                height: 34px;

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: var(--color-text-primary);
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
            }

            .logo-tx {
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0;
            gap: 24px;
            width: 100%;
            height: 53px;
            margin-top: 32px;
        }
    }
}

// FROM VESTING SECTION
// THIS IS DEPRECATED - USE NOTIFICATION PERMANENT ALERT

.using-vesting-alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    padding: 8px 16px;
    background-color: var(--notification-permanent-background);
    color: var(--notification-permanent-text);

    .content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 8px 0px;
    }
    .alert-icon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        background-image: url('../icons/NotificationWarningOutline.svg');
        background-repeat: none;
        background-size: cover;
        filter: var(--notification-permanent-filter);
    }
    .info {
        display: flex;
        flex-direction: column;
        margin-top: 4px;

        h2 {
            font-family: var(--brand-font);
            font-weight: 600;
            font-size: 20px;
            line-height: 1;
        }
        p {
            font-family: var(--main-font);
            font-size: 14px;
            line-height: 0.1;
        }
    }

    .wallet-button {
        width: 96px;
        margin-left: 16px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 14px;
        text-decoration: underline;
        line-height: 1.2;
    }
}

// FROM EXCHANGE SECTION

.exchange-send-footer {
    margin-top: 37px;

    .exchanging {
        height: 19px;
        opacity: 1;
        color: var(--color-text-highlight);
        font-family: var(--brand-font);
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
    }

    .actions-buttons {
        margin-top: 32px;
        width: 100%;
        text-align: center;

        .btn-clear {
        }

        .btn-confirm {
        }
    }
}

.exchange-footer {
    margin-top: 64px;
    background-color: red;

    .exchanging {
        width: 100%;
        height: 19px;
        opacity: 1;
        color: var(--color-text-highlight);
        font-family: var(--brand-font);
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
    }

    .actions-buttons {
        margin-top: 32px;
        width: 100%;
        text-align: center;

        .btn-clear {
        }

        .btn-confirm {
            margin-left: 10px;
        }
    }
}

.send-content {
    font-family: var(--brand-font);
    align-items: center;
    flex-direction: column;
    display: flex;
    .fields {
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 4px;
        width: 318px;
        height: 296px;
        flex: none;
        order: 0;
        flex-grow: 0;

        select .select-token {
        }

        input[type='number'].input-value {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 11px 16px;
            gap: 8px;
            width: 250px;
            height: 29px;
            border-radius: 4px;
            border: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 25.2px;
            text-align: left;
            font-family: var(--brand-font);
        }

        input[type='number'].input-value::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--color-text-primary);
            opacity: 1; /* Firefox */
            text-align: left;
            font-weight: 700;
            font-size: 20px;
            line-height: 25.2px;
        }

        // Remove spinner

        /* Chrome, Safari, Edge, Opera */
        input[type='number'].input-value::-webkit-outer-spin-button,
        input[type='number'].input-value::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type='number'].input-value {
            -moz-appearance: textfield;
        }

        .input-validation-error {
            color: var(--color-semantic-negative);
            font-family: var(--main-font);
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
            line-height: 12px;
        }

        .token-balance {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 0px 0px 4px;
            gap: 8px;
            width: 318px;
            height: 17px;
            flex: none;
            order: 2;
            flex-grow: 0;

            .token-balance-value {
                width: 177px;
                height: 17px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
            }

            a.token-balance-add-total {
                width: 131px;
                height: 17px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-align: left;
                color: #000000;
            }
        }

        .swap-from {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
            width: 318px;
            height: 108px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .swap-arrow {
            width: 32px;
            height: 32px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }

        .swap-to {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
            width: 318px;
            height: 108px;
            flex: none;
            order: 2;
            flex-grow: 0;

            input.input-address {
            }

            input[type='text'].input-address {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 11px 16px;
                gap: 8px;
                width: 318px;
                height: 51px;
                background: var(--color-controls-background);
                border-radius: 4px;
                border: 0;
                line-height: 29px;
                opacity: 1;
                color: var(--color-text-primary);
                font-family: var(--main-font);
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: 0px;
                text-align: left;
            }

            input[type='text'].input-address::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--color-text-secondary);
                font-style: italic;
                opacity: 1; /* Firefox */
            }

            // Remove spinner

            /* Chrome, Safari, Edge, Opera */
            input[type='text'].input-address::-webkit-outer-spin-button,
            input[type='text'].input-address::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type='text'].input-address {
                -moz-appearance: textfield;
                line-height: 0px;
            }

            .caption {
                margin-top: 10px;
                margin-bottom: 0px;
                opacity: 1;
                color: var(--color-text-primary);
                font-family: var(--main-font);
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0px;
                text-align: left;
                line-height: 16px;
            }
        }
    }
}

.primary-button {
    opacity: 1;
    transition:
        background-color 0.3s,
        color 0.3s,
        border-color 0.3s;
    cursor: pointer;
    box-shadow: var(--color-button-primary-background-default-shadow);
    border-width: 0px;
    border-color: var(--color-button-primary-text-default);
    border-radius: var(--button-radius);
    background-color: var(--color-button-primary-background-default);
    width: var(--button-width);
    height: var(--button-height);
    color: var(--color-button-primary-text-default);
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font);
    text-align: center;
}

.primary-button:disabled,
.primary-button:disabled:hover {
    box-shadow: none;
    background-color: var(--color-button-primary-background-disabled);
    color: var(--color-button-primary-text-disabled);
}

.primary-button:hover,
.primary-button:focus {
    border-color: var(--color-button-primary-text-hover);
    background: var(--color-button-primary-background-hover);
    color: var(--color-button-primary-text-hover);
}

.secondary-button:hover,
.secondarybutton:focus {
    border-color: var(--color-button-secondary-text-hover);
    background: var(--color-button-primary-secondary-hover);
    color: var(--color-button-secondary-text-hover);
}

.secondary-button {
    border: 2px solid var(--color-button-secondary-text-default);
    border-radius: var(--button-radius);
    background-color: var(--color-button-secondary-background-default);
    width: 200px;
    height: 54px;
    color: var(--color-button-secondary-text-default);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    font-family: (var(--brand-font));
    letter-spacing: 0px;
    text-align: center;
}

.tx-amount-group {
    // Stacks all the groups of information vertically
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // margin-bottom: 16px;
    // gap: 8px;
    background-color: var(--surface-color-2);
    border-radius: var(--card-border-radius);
}
.tx-amount-container {
    // One item containing Amount + Token, plus optional extra information below
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 368px;
    border: 1 solid var(--dividers);
    gap: 8px;
    padding-bottom: 8px;
    .tx-amount-data {
        // Amount + Token in one line
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: var(--brand-font);
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        background-color: var(--surface-color-inset);
        padding: var(--data-background-padding);
        border-radius: var(--data-background-radius);
        .tx-amount {
            text-align: left;
            color: var(--color-text-primary);
        }
        .tx-token {
            width: 100%;
            text-align: right;
            color: var(--color-text-secondary);
        }
    }
    .tx-amount-info {
        // Optional information below an Amount + Token line
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        text-align: left;
        color: var(--color-text-secondary);
    }
}

.exchange-content {
    font-family: var(--main-font);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
    width: 612px;
    height: 380px;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;

    .fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 4px;
        width: 320px;
        height: 296px;
        flex: none;
        order: 0;
        flex-grow: 0;
        // border: var(--debugBorder);

        select .select-token {
        }

        input[type='number'].input-value {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 11px 16px;
            gap: 8px;
            width: 250px;
            height: 29px;
            border-radius: 4px;
            border: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 25.2px;
            text-align: left;
            font-family: var(--brand-font);
        }

        input[type='number'].input-value::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--color-text-secondary);
            opacity: 1; /* Firefox */
        }

        // Remove spinner

        /* Chrome, Safari, Edge, Opera */
        input[type='number'].input-value::-webkit-outer-spin-button,
        input[type='number'].input-value::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type='number'].input-value {
            -moz-appearance: textfield;
        }

        .input-validation-error {
            opacity: 1;
            color: var(--color-semantic-negative);
            font-family: var(--main-font);
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
        }

        .token-balance {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 0px 0px 4px;
            gap: 8px;
            width: 318px;
            height: 17px;
            flex: none;
            order: 2;
            flex-grow: 0;

            .token-balance-value {
                width: 177px;
                height: 17px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #c3ccd9;
            }

            a.token-balance-add-total {
                width: 131px;
                height: 17px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-align: right;
                color: #000000;
            }
        }

        .swap-from {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
            width: 318px;
            height: 108px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .swap-arrow {
            width: 32px;
            height: 32px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .swap-to {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
            width: 318px;
            height: 108px;
            flex: none;
            order: 2;
            flex-grow: 0;
        }
    }
}

.card-tvl {
    // border-radius: var(--card-border-radius);
    // background-color: var(--surface-color-1);
    // box-shadow: var(--surface-shadow-1);
    // padding: var(--card-padding);
    // height: 161px;

    // .card-content {
    //     .big-number {
    //         color: var(--color-text-primary);
    //         font-family: var(--brand-font);
    //         font-size: 40px;
    //         font-weight: 700; //Bold
    //         letter-spacing: 0px;
    //         text-align: left;
    //     }

    //     .caption {
    //         color: var(--color-text-secondary);
    //         font-family: var(--main-font);
    //         font-size: 10px;
    //         font-weight: 700; //Bold
    //         letter-spacing: 0.5px;
    //         text-align: left;
    //         text-transform: uppercase;
    //         line-height: 0px;
    //     }
    // }
}

.card-tc {
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    padding: var(--card-padding);
    height: 274px;

    .title {
        h1 {
            color: var(--color-text-primary);
            font-family: var(--brand-font);
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;

            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .card-content {
        margin-top: 64px;

        .amount {
            opacity: 1;
            color: var(--color-text-primary);
            font-family: var(--brand-font);
            font-size: 22px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
            line-height: 27px;
        }

        .caption {
            opacity: 1;
            color: var(--color-text-secondary);
            font-family: var(--main-font);
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.5px;
            text-align: left;
            text-transform: uppercase;
            line-height: 16px;
        }

        .row-1 {
            display: flex;
            flex-direction: row;
            gap: 0px;

            .coll-1 {
                width: 50%;
            }

            .coll-2 {
                width: 50%;
                padding-left: 0px;
            }
        }

        .row-2 {
            display: flex;
            flex-direction: row;
            gap: 0px;
            margin-top: 25px;

            .coll-1 {
                width: 50%;
                padding-left: 0px;
            }

            .coll-2 {
                width: 50%;
                padding-left: 0px;
            }
        }
    }
}

.card-tvl {
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    padding: var(--card-padding);
    height: 161px;

    .card-content {
        .big-number {
            color: var(--color-text-primary);
            font-family: var(--brand-font);
            font-size: 40px;
            font-weight: 700; //Bold
            letter-spacing: 0px;
            text-align: left;
        }

        .caption {
            color: var(--color-text-secondary);
            font-family: var(--main-font);
            font-size: 10px;
            font-weight: 700; //Bold
            letter-spacing: 0.5px;
            text-align: left;
            text-transform: uppercase;
            line-height: 0px;
        }
    }
}

.card-tc {
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    padding: var(--card-padding);
    height: 274px;

    .title {
        h1 {
            color: var(--color-text-primary);
            font-family: var(--brand-font);
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;

            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .card-content {
        margin-top: 64px;

        .amount {
            opacity: 1;
            color: var(--color-text-primary);
            font-family: var(--brand-font);
            font-size: 22px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
            line-height: 27px;
        }

        .caption {
            opacity: 1;
            color: var(--color-text-secondary);
            font-family: var(--main-font);
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.5px;
            text-align: left;
            text-transform: uppercase;
            line-height: 16px;
        }

        .row-1 {
            display: flex;
            flex-direction: row;
            gap: 0px;

            .coll-1 {
                width: 50%;
            }

            .coll-2 {
                width: 50%;
                padding-left: 0px;
            }
        }

        .row-2 {
            display: flex;
            flex-direction: row;
            gap: 0px;
            margin-top: 25px;

            .coll-1 {
                width: 50%;
                padding-left: 0px;
            }

            .coll-2 {
                width: 50%;
                padding-left: 0px;
            }
        }
    }
}

.card-collateral {
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    padding: var(--card-padding);
    height: 274px;

    .card-content {
        margin-top: 20px;

        .amount {
            opacity: 1;
            color: var(--color-text-primary);
            font-family: var(--brand-font);
            font-size: 22px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
            line-height: 27px;
        }

        .caption {
            opacity: 1;
            color: var(--color-text-secondary);
            font-family: var(--main-font);
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.5px;
            text-align: left;
            text-transform: uppercase;
            line-height: 16px;
        }

        .row-1 {
            display: flex;
            flex-direction: row;
            gap: 0px;

            .coll-1 {
                width: 50%;
            }

            .coll-2 {
                width: 50%;
                padding-left: 20px;
            }
        }

        .row-2 {
            margin-top: 20px;
            border-top: 1px solid var(--dividers);
            padding-top: 14px;

            .list-tokens {
                .token {
                    color: var(--color-text-primary);
                    font-family: var(--main-font);
                    font-size: 14px;
                    font-weight: 700;
                    font-style: normal;
                    letter-spacing: 0px;
                    text-align: left;

                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                .amount-token {
                    color: var(--color-text-secondary);
                    font-family: var(--brand-font);
                    font-size: 20px;
                    font-weight: 700;
                    font-style: normal;
                    letter-spacing: 0px;
                    text-align: right;
                }

                .row-token {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    margin-top: 10px;

                    .coll-1 {
                        width: 50%;
                    }

                    .coll-2 {
                        width: 50%;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

.card-tps {
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    padding: var(--card-padding);
    height: 274px;
    .ant-table-body .ant-table-cell {
        border-color: transparent !important;
    }
}
.Performance {
    display: flex;
    width: 1182px;
}

.card-system-status {
    // column-span: 1;
    display: flex;
    flex-direction: column;
    width: 576px;
    border: 1px dashed blue;
}

.modalsDefaults {
    width: 650px !important;
}

.AccountDialog {
    .address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 26px;
        margin-bottom: 26px;
        margin-left: 37px;
        margin-right: 37px;
        .caption {
            opacity: 1;
            color: var(--color-text-primary);
            font-family: var(--main-font);
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
        }
        .truncate-address {
            opacity: 1;
            color: var(--color-text-link);
            font-family: var(--main-font);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            text-align: right;
            text-decoration: underline;
            margin-right: 14px;
        }
    }
    .address-info {
        display: flex;
        align-items: center;
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        gap: 24px;
        width: 424px;
        height: 53px;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
    }
}

/* #region Notifications */
.notification-panel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 86px;
    margin-top: 24px;
    background: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    padding: 0 20px;
    width: auto;
}

.notification-text {
    width: 861px;
    margin-right: 10px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-button {
    width: 200px;
    height: 54px;
    background-color: black;
    color: white;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-family: var(--brand-font);
    font-weight: 700;
    font-size: 18px;
}

/* #endregion Notification */

// .input-amount-container {
//     width: 318px;
//     display: flex;
//     flex-direction: column;
//     padding: 4px 7px;
//     background-color: var(--color-controls-background);

//     .title-balance-container {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         margin-bottom: 5px;
//         color: var(-color-text-secondary);
//     }

//     .input-title {
//         font-size: 8px;
//         font-weight: 600;
//         font-family: var(--main-font);
//         text-transform: uppercase;
//     }

//     .input-field-container {
//         display: flex;
//         justify-content: space-between;
//         align-items: flex-end; /* Alinea los hijos al final (parte inferior) */
//         flex-grow: 1;
//     }

//     .input-value {
//         text-align: left; /* Alinear texto a la izquierda */
//         flex-grow: 1;
//         background-color: transparent;
//         padding-left: 2px !important;
//     }

//     .max-button {
//         height: 17px;
//         width: 39px;
//         background-color: transparent; /* Ajusta según sea necesario */
//         border: 1px solid var(--color-button-secondary-text-default);
//         border-radius: 4px;
//         cursor: pointer;
//         margin-left: 15px;
//         margin-bottom: 3px;
//         font-family: var(--main-font);
//         font-size: 11px;
//         font-weight: 800;
//         line-height: 0px;
//         letter-spacing: 0.2px;
//         text-align: center;
//         color: var(--color-button-secondary-text-default);
//         padding-left: 5px;
//     }

//     .max-button:hover {
//         border-color: var(--color-button-secondary-text-hover);
//         color: var(--color-button-secondary-text-hover);
//     }

//     .input-balance {
//         text-align: right; /* Alinear a la derecha dentro del contenedor */
//         font-family: var(--main-font);
//         font-size: 10px;
//         font-weight: 600;
//         line-height: 14px;
//         letter-spacing: 0px;
//     }
// }

/* #region MODAL IMPORTANT NOTICE */
.ModalImportantNotice {
    font-family: var(--brand-font);

    .ant-modal-content {
        background: rgb(248, 248, 249);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    }
    .ant-modal-header {
        background-color: transparent !important;
        border-bottom: 0 !important;
        font-style: italic;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        padding: 24px 24px;
    }

    .ant-modal-title {
        color: black !important;
        font-family: 'Sora';
        font-size: 20px !important;
        font-weight: 700 !important;
        font-style: normal !important;
        letter-spacing: 0px !important;
        text-align: left !important;
    }

    .ant-modal-body {
        padding: 14px 32px;
    }
}
.notice-container {
    font-family: 'Chivo';

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 17px;
}
.notice-body {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}
.notice-buttons {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    .btn-clear {
    }

    .btn-confirm {
        margin-left: 10px;
    }
}

/* #endregion MODAL IMPORTANT NOTICE */

/* #region SCROLLBAR CUSTOMIZATION ???OLD??? */
.ant-table-body::-webkit-scrollbar {
    width: 6px;
}
.ant-table-body::-webkit-scrollbar-track {
    background-color: transparent;
}
.ant-table-body::-webkit-scrollbar-thumb {
    background: rgba(201, 214, 255, 0.24);
    border-radius: 3px;
}
/* #endregion SCROLLBAR CUSTOMIZATION ???OLD??? */

/* #region INPUT */
.input-title {
    color: var(--color-text-secondary);
}
.input-balance {
    color: var(--color-text-secondary);
    text-transform: capitalize;
}
.input-value {
    color: var(--color-text-primary);
}
/* #endregion INPUT */

.display-block {
    display: block;
}

/* Token icons */

.item-token {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // padding-left: 8px;
    // gap: 8px;
    // width: 90%;
    // height: 20px;
}
.token-description {
    // cursor: default;
}

.title {
    h1 {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--color-text-primary);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        font-family: var(--brand-font);
        letter-spacing: 0px;
        text-align: left;
    }
}

.token__ticker {
    cursor: default;
    color: var(--color-text-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    font-family: var(--brand-font);
    letter-spacing: 0px;
}
.token-description {
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: left;
}

/* #region THIS ICONS MAY BE DEPRECATED */
// .icon-staked {
//     filter: var(--color-navigation-icon-filter-default);
//     background-image: url('../icons/StakeOutline.svg');
//     background-size: 32px 32px;
//     background-repeat: no-repeat;
//     width: 32px;
//     height: 32px;
// }

// .icon-gauge {
//     filter: var(--color-navigation-icon-filter-default);
//     background-image: url('../icons/PerformanceOutline.svg');
//     background-size: 32px 32px;
//     background-repeat: no-repeat;
//     width: 32px;
//     height: 32px;
// }

// .icon-calendar {
//     filter: var(--color-navigation-icon-filter-default);
//     background-image: url('../icons/RewardedTodayOutline.svg');
//     background-size: 32px 32px;
//     background-repeat: no-repeat;
//     width: 32px;
//     height: 32px;
// }

// .icon-calendar-check {
//     filter: var(--color-navigation-icon-filter-default);
//     background-image: url('../icons/ReadyToWithdrawOutline.svg');
//     background-size: 32px 32px;
//     background-repeat: no-repeat;
//     width: 32px;
//     height: 32px;
// }
/* #endregion THIS ICONS MAY BE DEPRECATED */

// .StakingOptionsModal {
//     button {
//         color: rgb(0 0 0 / 85%);
//     }
//     .StakingOptionsModal_Title {
//         margin: 0;
//         font-family: Montserrat, sans-serif;
//         font-size: 1em;
//         font-weight: 400;
//         color: #707070;
//         position: absolute;
//         top: 15px;
//     }

//     .StakingOptionsModal_Content {
//         margin: 3em 1em 0em 1em;
//         &.AllowanceLoading {
//             text-align: center;
//         }
//         .ant-spin {
//             span[role='img'] {
//                 font-size: 72px;
//                 margin: 2rem 0;
//                 color: #09c199;
//             }
//         }

//         p {
//             font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
//                 Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
//                 Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
//         }
//     }

//     .InfoContainer {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         margin-bottom: 2rem;
//         .value {
//             &.amount {
//                 color: #09c199;
//                 display: flex;
//                 span {
//                     margin-left: 0.5rem;
//                 }
//             }
//         }
//     }
//     .ActionButtonsRow {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-top: 1rem;
//         .ButtonPrimary {
//             margin: 1rem 0.25rem;
//             margin-left: 0.5rem;
//         }

//         button {
//             width: 130px;
//             text-transform: capitalize;
//             font-weight: 500;
//             box-shadow: 0 2px 4px rgb(9 193 153 / 20%),
//                 0 2px 4px rgb(9 193 153 / 20%);
//         }
//     }
// }

// // @import 'src/assets/css/general_styling';

// .OperationStatusModal {
//     .ant-modal-close-x {
//         color: rgb(0 0 0 / 85%);
//     }
//     padding: 46px;
//     h1 {
//         //@include primary-text(1em, $grey, 400);
//         position: absolute;
//         top: 15px;
//     }
//     .InfoContainer {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         .title {
//             @include primary-text(1em, black, 400);
//         }
//         .value {
//             @include primary-text(1em, black, 400);
//             &.success {
//                 color: $primary-color;
//             }
//             &.error {
//                 color: $red;
//             }
//             &.pending {
//                 color: $color-pending;
//             }
//         }
//     }
//     a {
//         color: $primary-color;
//     }
//     .ButtonPrimary {
//         width: 130px;
//         margin: auto;
//         margin-top: 10px;
//     }
// }

// .StakingOptionsModal_Title {
//     margin: 0 !important;
//     font-family: Montserrat, sans-serif !important;
//     font-size: 1em !important;
//     font-weight: 400 !important;
//     color: #707070 !important;
//     position: absolute !important;
//     top: 15px !important;
// }


  // width: 318px;
    // display: flex;
    // flex-direction: column;
    // padding: 4px 7px;
    // background-color: var(--color-controls-background);

    // .title-balance-container {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     margin-bottom: 5px;
    //     color: var(-color-text-secondary);
    // }

    // .input-title {
    //     font-size: 8px;
    //     font-weight: 600;
    //     font-family: var(--main-font);
    //     text-transform: uppercase;
    // }

    // .input-field-container {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: flex-end; /* Alinea los hijos al final (parte inferior) */
    //     flex-grow: 1;
    // }

    // .input-value {
    //     text-align: left; /* Alinear texto a la izquierda */
    //     flex-grow: 1;
    //     background-color: transparent;
    //     padding-left: 2px !important;
    // }

    // .max-button {
    //     height: 17px;
    //     width: 39px;
    //     background-color: transparent; /* Ajusta según sea necesario */
    //     border: 1px solid var(--color-button-secondary-text-default);
    //     border-radius: 4px;
    //     cursor: pointer;
    //     margin-left: 15px;
    //     margin-bottom: 3px;
    //     font-family: var(--main-font);
    //     font-size: 11px;
    //     font-weight: 800;
    //     line-height: 0px;
    //     letter-spacing: 0.2px;
    //     text-align: center;
    //     color: var(--color-button-secondary-text-default);
    //     padding-left: 5px;
    // }

    // .max-button:hover {
    //     border-color: var(--color-button-secondary-text-hover);
    //     color: var(--color-button-secondary-text-hover);
    // }

    // .input-balance {
    //     text-align: right; /* Alinear a la derecha dentro del contenedor */
    //     font-family: var(--main-font);
    //     font-size: 10px;
    //     font-weight: 600;
    //     line-height: 14px;
    //     letter-spacing: 0px;
    // }
}

/*
    --- Currencies ---
*/

// .currencyOption {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;

//     font-family: var(--brand-font);
//     font-style: normal;
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 19px;
//     /* identical to box height */

//     .currencyImage {
//         width: var(--icon-token-size);
//         height: var(--icon-token-size);
//         margin-right: 8px;
//     }
// }

// .currencyOption-abbr {
//     margin-left: 7px;
//     font-weight: 700;
//     color: var(--color-text-secondary);
//     line-height: 48px;
// }


// EXCHANGE
    .fees {
        display: flex;
        flex: none;
        flex-grow: 0;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        order: 1;
        gap: 16px;
        padding: 0px 11px 0px 4px;
        width: 260px;
        height: 119px;
        background-color: red;
        .frame {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            padding: 0px;

            .frame-t {
                width: 198px;
                height: 17px;
                color: #c3ccd9;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }

            .radio-fee {
                .ant-radio-wrapper {
                    color: var(--color-text-primary);
                    line-height: 14px;
                }

                .ant-radio-disabled + span {
                    color: var(--color-controls-disabled);
                }
            }

            .switch {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                border-radius: 11px;
                background: #2d313a;
                padding: 3px;
                width: 44px;
                height: 22px;

                .ant-switch {
                    background-color: #2d313a;
                }

                .ant-switch-handle::before {
                    background-color: #fff383;
                }
            }
        }

        // .balance {
        //     width: 100%;
        //     height: 56px;
        //     color: var(--color-text-secondary);
        //     font-style: normal;
        //     font-weight: 400;
        //     font-size: 12px;
        //     line-height: 14px;
        // }
    }