html {
    // Scrollbars customization for Firefox
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    scrollbar-color: var(--color-controls-foreground-on) transparent;
}

/*
    --- rLOGIN ---
*/

.rlogin-modal-container {
    // Hide theme switcher
    #theme-switcher {
        display: var(--rlogin-themeswitcher-display) !important;
    }

    // Title bar (powerded by + RIF logo)
    .rlogin-modal-header {
        background-color: var(--rlogin-title-background-color) !important;
        border-radius: var(--rlogin-border-radius) var(--rlogin-border-radius) 0 0 !important;

        .sc-jJEKmz.jtUgPh {
            color: var(--rlogin-poweredby-color);
        }
        .sc-hiSbEG.fFKpiV,
        .sc-eBMEME,
        .gKVFYd {
            filter: var(--rlogin-logo-filter-color) !important;
        }
    }

    // Provider buttons
    .rlogin-provider-container {
        background-color: var(--rlogin-provider-background-color) !important;
        box-shadow: var(--rlogin-provider-border-shadow);

        // Providers name
        .rlogin-header3 {
            color: var(--rlogin-content-text-color) !important;
            font-family: var(--main-font) !important;
            font-weight: 600 !important;
        }
    }

    // display none to avoid an extra gap when div is empty
    // ONLY if there is NO custodial wallet support
    .rlogin-providers-custodial {
        display: none;
    }

    // Language dropdown
    #languages {
        background-color: transparent !important;
    }

    // Content card
    .rlogin-modal-card {
        background-color: var(--rlogin-content-background-color) !important;
        backdrop-filter: blur(10px);
        background-color: var(--rlogin-content-background-color) !important;
        border-radius: var(--rlogin-border-radius) !important;

        // Title
        .rlogin-header2 {
            margin: 24px 0 24px 0;
            color: var(--rlogin-content-title-color) !important;
            font-family: var(--brand-font) !important;
            font-weight: 600 !important;
        }
    }

    .rlogin-modal-body {
        border: 4px solid var(--rlogin-content-border-color) !important;
        border-radius: 0 0 var(--rlogin-border-radius) var(--rlogin-border-radius) !important;
        box-shadow: var(--rlogin-content-shadow-inset) !important;
    }

    .cUGxCk {
        color: var(--rlogin-spinner-color) !important;
    }
}

/*
    --- Modals ---
*/

.ant-modal-close-x {
    font-size: 21px !important;
    color: var(--color-text-primary) !important;
}

.ant-modal-title,
.ant-modal-close {
    color: white !important;
    text-align: center;
}

/*
    --- Last Operations Table ---
*/

.last-operations-table {
    .ant-table-tbody > tr > td {
        border-bottom: none !important;
        padding: 10px 0px !important;
    }
}

.NotificationMigration {
    border-radius: var(--card-border-radius);
}

.input-amount-container {
    // width: 318px;
    // display: flex;
    // flex-direction: column;
    // padding: 4px 7px;
    // background-color: var(--color-controls-background);

    // .title-balance-container {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     margin-bottom: 5px;
    //     color: var(-color-text-secondary);
    // }

    // .input-title {
    //     font-size: 8px;
    //     font-weight: 600;
    //     font-family: var(--main-font);
    //     text-transform: uppercase;
    // }

    // .input-field-container {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: flex-end; /* Alinea los hijos al final (parte inferior) */
    //     flex-grow: 1;
    // }

    // .input-value {
    //     text-align: left; /* Alinear texto a la izquierda */
    //     flex-grow: 1;
    //     background-color: transparent;
    //     padding-left: 2px !important;
    // }

    // .max-button {
    //     height: 17px;
    //     width: 39px;
    //     background-color: transparent; /* Ajusta según sea necesario */
    //     border: 1px solid var(--color-button-secondary-text-default);
    //     border-radius: 4px;
    //     cursor: pointer;
    //     margin-left: 15px;
    //     margin-bottom: 3px;
    //     font-family: var(--main-font);
    //     font-size: 11px;
    //     font-weight: 800;
    //     line-height: 0px;
    //     letter-spacing: 0.2px;
    //     text-align: center;
    //     color: var(--color-button-secondary-text-default);
    //     padding-left: 5px;
    // }

    // .max-button:hover {
    //     border-color: var(--color-button-secondary-text-hover);
    //     color: var(--color-button-secondary-text-hover);
    // }

    // .input-balance {
    //     text-align: right; /* Alinear a la derecha dentro del contenedor */
    //     font-family: var(--main-font);
    //     font-size: 10px;
    //     font-weight: 600;
    //     line-height: 14px;
    //     letter-spacing: 0px;
    // }
}

/*
    --- Currencies ---
*/

// .currencyOption {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;

//     font-family: var(--brand-font);
//     font-style: normal;
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 19px;
//     /* identical to box height */

//     .currencyImage {
//         width: var(--icon-token-size);
//         height: var(--icon-token-size);
//         margin-right: 8px;
//     }
// }

// .currencyOption-abbr {
//     margin-left: 7px;
//     font-weight: 700;
//     color: var(--color-text-secondary);
//     line-height: 48px;
// }
.ant-select-dropdown .ant-select-item-option-content {
    display: flex;
    align-items: center;
}

.SelectCurrency {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .ant-select {
        width: 100%;
    }

    .ant-select-selection-item {
        display: flex;
        height: 100%;
    }
    .ant-select-selector {
        height: 48px !important;
        border-radius: 0 !important;
        padding-left: 0px !important;
    }
    &.disabled {
        cursor: not-allowed;
        .ant-select-selection-item {
            padding-right: 0;
            right: 10px;
            position: absolute;
        }
        .ant-select-arrow {
            display: none;
        }
    }
    .ant-select-arrow {
        color: var(--color-controls-foreground-on) !important;
        font-weight: 700;
    }
}

.ant-select-selector {
    background-color: transparent !important;
    border: none !important;
    padding: 0;
    color: var(--color-text-primary) !important;
}

.tokens-list-table {
    .ant-table-tbody > tr > td {
        border-bottom: none !important;
        padding: 10px 0px !important;
    }
}

/*
    --- Staking ---
*/

.Staking {
    .input-amount-container {
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // padding: 4px 7px;
        // background-color: var(--color-controls-background);

        // .title-balance-container {
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     margin-bottom: 5px;
        //     color: var(-color-text-secondary);
        // }

        // .input-title {
        //     font-size: 8px;
        //     font-weight: 600;
        //     font-family: var(--main-font);
        //     text-transform: uppercase;
        // }

        // .input-field-container {
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: flex-end; /* Alinea los hijos al final (parte inferior) */
        //     flex-grow: 1;
        // }

        // .input-value {
        //     text-align: left; /* Alinear texto a la izquierda */
        //     flex-grow: 1;
        //     background-color: transparent;
        //     padding-left: 2px !important;
        //     border: none;
        // }

        .max-button {
            height: 17px;
            width: 39px;
            background-color: transparent; /* Ajusta según sea necesario */
            border: 1px solid var(--color-button-secondary-text-default);
            border-radius: 4px;
            cursor: pointer;
            margin-left: 15px;
            margin-bottom: 3px;
            font-family: var(--main-font);
            font-size: 11px;
            font-weight: 800;
            line-height: 0px;
            letter-spacing: 0.2px;
            text-align: center;
            color: var(--color-button-secondary-text-default);
            padding-left: 5px;
        }

        .max-button:hover {
            border-color: var(--color-button-secondary-text-hover);
            color: var(--color-button-secondary-text-hover);
        }

        // .input-balance {
        //     text-align: right; /* Alinear a la derecha dentro del contenedor */
        //     font-family: var(--main-font);
        //     font-size: 10px;
        //     font-weight: 600;
        //     line-height: 14px;
        //     letter-spacing: 0px;
        // }
    }
}
