/*
nonglobal.css contains all the css code that not has been fully optimized yet
*/

// Variable definitions inside customization.scss

.modalsDefaults {
    width: 650px !important;
}

/*
    --- Main Container ---
*/

.content-container {
    margin-top: 24px;
}

/* #region Notifications */
.notification-panel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 86px;
    margin-top: 24px;
    background: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    padding: 0 20px;
    width: auto;
}

.notification-text {
    width: 861px;
    margin-right: 10px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-button {
    width: 200px;
    height: 54px;
    background-color: black;
    color: white;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-family: var(--brand-font);
    font-weight: 700;
    font-size: 18px;
}

.margin-vertical-small {
    margin-top: var(--margin-vertical-small);
    margin-bottom: var(--margin-vertical-small);
}
.margin-vertical-medium {
    margin-top: var(--margin-vertical-medium);
    margin-bottom: var(--margin-vertical-medium);
}
.margin-vertical-large {
    margin-top: var(--margin-vertical-large);
    margin-bottom: var(--margin-vertical-large);
}

/* #endregion Notification */

/* #region STAKING DASHBOARD */

.dashboard-staking-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*padding: 12px 32px;*/
    height: 80px;
    background: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);

    .first-item {
        margin-left: 32px;
    }

    .second-item {
        margin-left: 64px;
    }

    .item-staking {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;

        width: 232px;
        height: 50px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .logo-staking-panel {
        // Dashboard Icons Background

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /*padding: 12px;*/
        gap: 8px;

        width: 48px;
        height: 48px;

        border-radius: 4px;

        flex: none;
        order: 0;
        flex-grow: 0;
        background-color: var(--icon-background-color);
    }

    .icon-staked {
        width: 32px;
        height: 32px;
        background-image: url('../icons/StakeOutline.svg');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        filter: var(--color-navigation-icon-filter-default);
        /*margin-left: 8px;
  margin-top: 8px;*/
    }

    .icon-gauge {
        width: 32px;
        height: 32px;
        background-image: url('../icons/PerformanceOutline.svg');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        filter: var(--color-navigation-icon-filter-default);
    }

    .icon-calendar {
        width: 32px;
        height: 32px;
        background-image: url('../icons/RewardedTodayOutline.svg');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        filter: var(--color-navigation-icon-filter-default);
    }

    .icon-calendar-check {
        width: 32px;
        height: 32px;
        background-image: url('../icons/ReadyToWithdrawOutline.svg');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        filter: var(--color-navigation-icon-filter-default);
    }

    .resume-staking {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;

        width: 115px;
        height: 50px;

        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .number-staking {
        /* Dashboard Price */
        width: 115px;
        height: 29px;

        font-family: var(--brand-font);
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        letter-spacing: 0px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: var(--color-text-primary);

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .description-staking {
        /* Dashboard Text */
        width: 170px;
        height: 17px;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: var(--color-text-secondary);
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

/* #endregion STAKING DASHBOARD */

.tokens-list-table {
    width: 1120px;
    margin-top: 40px;
}

/* Table tokens */

.ant-table {
    margin-bottom: 32px;
}

.ant-table-thead > tr > th {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    padding: 3px 8px !important;
    font-weight: 700;
    background-color: transparent;
}

.ant-table {
    /* List/List Data */
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    font-style: SemiBold;
    letter-spacing: 0.61px;
    line-height: 19px;
    /* identical to box height */
    background-color: transparent;
    color: var(--color-text-primary);
}

.ant-table-thead .ant-table-cell {
    color: var(--color-text-secondary);
    font-size: 16px;
    font-weight: 700;
    font-style: Bold;
    border-bottom: 1px solid var(--dividers);
}

.ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 0;
}

.ant-table-cell::before {
    visibility: hidden;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
    // background: #d0d0d0;
}

// Portfolio table
.tokens-card-content .ant-table-tbody > tr.ant-table-row:hover > td,
.tokens-card-content .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    // background: #d0d0d0;
    background: var(--surface-color-1) !important;
}

// Last Operations table
.content-last-operations .ant-table-tbody > tr.ant-table-row:hover > td,
.content-last-operations .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: var(--surface-color-2) !important;
}

// Performance Pegged-Tokens table
.card-tps .ant-table-tbody > tr.ant-table-row:hover > td,
.ccard-tps .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: var(--surface-color-1) !important;
}

.ant-table-body::-webkit-scrollbar {
    width: 6px;
}

.ant-table-body::-webkit-scrollbar-track {
    background-color: transparent;
}

.ant-table-body::-webkit-scrollbar-thumb {
    background: rgba(201, 214, 255, 0.24);
    border-radius: 3px;
}

.variation-indicator {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0px;
}

.positive-indicator {
    background-color: var(--color-semantic-positive);
}

.negative-indicator {
    background-color: var(--color-semantic-negative);
}

.neutral-indicator {
    background-color: var(--color-semantic-neutral);
}

/* #region LAST OPERATIONS TABLE */

.content-last-operations {
    margin-top: 24px;
    padding: 32px;
    border-radius: var(--card-border-radius);
    background: var(--surface-color-1);
    box-shadow: var(--surface-shadow-1);
    .ant-table-body .ant-table-cell {
        border-color: transparent !important;
    }
}

.about-button {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: var(--color-text-secondary);
    background-color: transparent;
    align-items: center;
    margin-bottom: 8px;
    margin-right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    .logo-queue {
        width: 16px;
        height: 16px;
        margin-left: 8px;
        background-image: url('../icons/aboutqueueicon.svg');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        display: inline-block;
        filter: var(--color-icon-link-secondary-filter);
    }
}

/* #endregion LAST OPERATIONS TABLE */

/* #region MODAL QUEUE INFO */

.queue-modal-container {
    display: flex;
    flex-direction: column;
    padding: 8px;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .text {
        flex: 1;
        margin-right: 10px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    @media (max-width: 600px) {
        .row {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }

        .icon {
            margin-top: 10px;
        }
    }
}

.queue-modal-container > .row {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--dividers);
}

.status-list > div {
    font-family: var(--main-font);
    color: var(--color-text-primary);
    padding-top: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--dividers);
}

.status-list > div:last-child {
    border-bottom: none;
}
.table-status-icon-cell {
    width: 145px;
}

/* #endregion MODAL QUEUE INFO */

/* #region MODAL IMPORTANT NOTICE */
.ModalImportantNotice {
    font-family: var(--brand-font);

    .ant-modal-content {
        background: rgb(248, 248, 249);
        // border-radius: 4px;
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    }
    .ant-modal-header {
        background-color: transparent !important;
        border-bottom: 0 !important;
        font-style: italic;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        padding: 24px 24px;
    }

    .ant-modal-title {
        color: black !important;
        font-family: 'Sora';
        font-size: 20px !important;
        font-weight: 700 !important;
        font-style: normal !important;
        letter-spacing: 0px !important;
        text-align: left !important;
    }

    .ant-modal-body {
        padding: 14px 32px;
    }
}
.notice-container {
    font-family: 'Chivo';

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 17px;
}
.notice-body {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}
.notice-buttons {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    .btn-clear {
    }

    .btn-confirm {
        margin-left: 10px;
    }
}

/* #endregion MODAL IMPORTANT NOTICE */

/* #region DROPDOWN SELECTORS */
.ant-select-dropdown {
    background-color: var(--color-controls-background);
    color: var(--color-controls-foreground-on);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: var(--color-button-primary-text-default);
    background-color: var(--color-button-primary-background-default);
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    color: var(--color-button-primary-text-default);
    background-color: var(--color-button-primary-background-default);
}

.ant-select-item-option {
    color: var(--color-text-primary);
}

/* #endregion DROPDOWN SELECTORS */

/* Confirm Modal */

.ShowModalConfirmOperation {
}

.exchange-currency-option {
}

.exchange-currency-caption {
}

//
// [START] Modal Generic Customization
//

.ant-modal-content,
.modal-container {
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-3);
    border: 0px !important;
    padding: var(--modals-padding);
    border-radius: var(--modals-border-radius);
    font-family: var(--main-font);
    h1 {
        color: var(--color-text-primary);
        font-family: var(--brand-font);
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 20px;
    }

    p {
        color: var(--color-text-primary);
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .remember-this {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 424px;
        height: 32px;
        margin-top: 30px;
        padding: var(--modals-padding);

        .check-unlimited {
            height: 17px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--color-text-primary);
        }
        .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
        }
        .ant-checkbox-wrapper > :nth-child(2) {
            padding-top: 6px;
        }
    }

    .ant-checkbox-inner {
        // Inner square
        width: 24px;
        height: 24px;
        background-color: var(--color-controls-background);
        border: 1px solid var(--color-controls-foreground-on);
    }

    .ant-checkbox-inner:after {
        // Checkmark
        border-color: var(--color-controls-foreground-on);
        border-width: 0 2px 2px 0;
        stroke-linecap: round;
        position: absolute;
        top: -1px;
        width: 6px;
        height: 16px;
        margin: 0 auto;
        margin-top: 2px;
        margin-left: 3px;
        transform: rotateZ(40deg);
    }
    //
    // [START] Standarized data classes
    //

    .option-checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 424px;
        height: 32px;
        margin-top: 30px;
        padding: var(--modals-padding);

        .check-unlimited {
            height: 17px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--color-text-primary);
        }
        .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
        }
        .ant-checkbox-wrapper > :nth-child(2) {
            padding-top: 6px;
        }
    }
    //
    // [END] Standarized data classes
    //

    .tx-data-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        gap: 16px;
    }
    .tx-amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 368px;
        font-family: var(--brand-font);
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
        .amount {
            color: (var(--color-text-primary));
        }
        .token {
            color: (var(--color-text-secondary));
        }
    }
    .tx-info-container {
        .tx-info {
            color: var(--color-text-primary);
        }
    }

    .tx-options-container {
        .tx-option {
        }
    }
    .status-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        gap: 32px;
    }
    .tx-logo-status {
        width: 32px;
        height: 32px;
    }

    .address-section {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 16px;
        width: 100%;

        a {
            color: (var(--color-text-link));
            text-decoration: underline;
        }
    }
    .icon {
        color: (var(--color-text-secondary));
    }

    .tx-options-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 424px;
        height: 32px;
        margin-top: 16px;
        margin-bottom: 16px;
        .check-unlimited {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--color-text-primary);
        }
    }
}

//
// [END] Modal Generic Customization
//
.conditional-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 32px;
    gap: 16px;
}
.tx-feedback-container {
    // Container with all the feedback elemensts
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
    .tx-feedback-text {
        // Explanation about the status
        color: var(--color-text-primary);
    }
    .tx-feedback-icon {
        // Container for the feedback icon
    }
}

//
// [START] CTA / Call to action

.cta-container {
    // CTA container
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 32px;
    margin-top: 32px;
    .cta-info-group {
        // Stacks Summary + info items vertically
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        width: 100%;
        color: var(--color-text-secondary);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        font-family: var(--main-font);
        text-align: left;
    }
    .cta-info-summary {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 100%;
        color: var(--color-text-highlight);
        font-weight: 700;
        font-size: 16px;
        font-family: var(--brand-font);
    }
    .cta-info-detail {
        color: var(--color-text-primary);
    }
    .cta-options-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
    }
}

// [END] CTA / Call to action
//

//
// [START] UI Elements

.divider-horizontal {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid var(--dividers);
    width: 100%;
    height: 1px;
}

.divider-vertical {
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid var(--dividers);
    width: 1px;
    height: 100%;
}

// [END] UI Elements
//

.qr {
    width: 164px;
    height: 164px;
    border-radius: var(--modals-border-radius);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    padding: 8px;
}
.AccountDialog {
    .address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 26px;
        margin-bottom: 26px;
        margin-left: 37px;
        margin-right: 37px;
        .caption {
            opacity: 1;
            color: var(--color-text-primary);
            font-family: var(--main-font);
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
        }
        .truncate-address {
            opacity: 1;
            color: var(--color-text-link);
            font-family: var(--main-font);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            text-align: right;
            text-decoration: underline;
            margin-right: 14px;
        }
    }
    .address-info {
        display: flex;
        align-items: center;
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        gap: 24px;
        width: 424px;
        height: 53px;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
    }
}

/*
    --- Exchange Send ---
*/

.exchange-send-content {
    font-family: var(--brand-font);
    align-items: center;
    flex-direction: column;
    display: flex;
    // .fields {
    //     flex-direction: column;
    //     align-items: center;
    //     padding: 0;
    //     gap: 4px;
    //     width: 318px;
    //     height: 296px;
    //     flex: none;
    //     order: 0;
    //     flex-grow: 0;

    //     select .select-token {
    //     }

    //     input[type='number'].input-value {
    //         flex-direction: row;
    //         justify-content: flex-start;
    //         align-items: center;
    //         padding: 11px 16px;
    //         gap: 8px;
    //         width: 250px;
    //         height: 29px;
    //         border-radius: 4px;
    //         border: 0;
    //         font-style: normal;
    //         font-weight: 700;
    //         font-size: 20px;
    //         line-height: 25.2px;
    //         text-align: left;
    //         font-family: var(--brand-font);
    //     }

    //     input[type='number'].input-value::placeholder {
    //         /* Chrome, Firefox, Opera, Safari 10.1+ */
    //         color: var(--color-text-primary);
    //         opacity: 1; /* Firefox */
    //         text-align: left;
    //         font-weight: 700;
    //         font-size: 20px;
    //         line-height: 25.2px;
    //     }

    //     // Remove spinner

    //     /* Chrome, Safari, Edge, Opera */
    //     input[type='number'].input-value::-webkit-outer-spin-button,
    //     input[type='number'].input-value::-webkit-inner-spin-button {
    //         -webkit-appearance: none;
    //         margin: 0;
    //     }

    //     /* Firefox */
    //     input[type='number'].input-value {
    //         -moz-appearance: textfield;
    //     }

    //     .input-validation-error {
    //         color: var(--color-semantic-negative);
    //         font-family: var(--main-font);
    //         font-size: 14px;
    //         font-weight: 500;
    //         font-style: normal;
    //         letter-spacing: 0px;
    //         text-align: left;
    //         line-height: 12px;
    //     }

    //     .token-balance {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-between;
    //         align-items: center;
    //         padding: 0px 0px 0px 4px;
    //         gap: 8px;
    //         width: 318px;
    //         height: 17px;
    //         flex: none;
    //         order: 2;
    //         flex-grow: 0;

    //         .token-balance-value {
    //             width: 177px;
    //             height: 17px;
    //             font-style: normal;
    //             font-weight: 400;
    //             font-size: 14px;
    //             line-height: 17px;
    //             color: #000000;
    //         }

    //         a.token-balance-add-total {
    //             width: 131px;
    //             height: 17px;
    //             font-style: normal;
    //             font-weight: 400;
    //             font-size: 14px;
    //             line-height: 17px;
    //             text-align: left;
    //             color: #000000;
    //         }
    //     }

    //     .swap-from {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: flex-start;
    //         padding: 0px;
    //         gap: 8px;
    //         width: 318px;
    //         height: 108px;
    //         flex: none;
    //         order: 0;
    //         flex-grow: 0;
    //     }

    //     .swap-arrow {
    //         width: 32px;
    //         height: 32px;
    //         margin-top: 40px;
    //         margin-left: auto;
    //         margin-right: auto;
    //     }

    //     .swap-to {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: flex-start;
    //         padding: 0px;
    //         gap: 8px;
    //         width: 318px;
    //         height: 108px;
    //         flex: none;
    //         order: 2;
    //         flex-grow: 0;

    //         input.input-address {
    //         }

    //         input[type='text'].input-address {
    //             display: flex;
    //             flex-direction: row;
    //             justify-content: flex-end;
    //             align-items: center;
    //             padding: 11px 16px;
    //             gap: 8px;
    //             width: 318px;
    //             height: 51px;
    //             background: var(--color-controls-background);
    //             border-radius: 4px;
    //             border: 0;
    //             line-height: 29px;
    //             opacity: 1;
    //             color: var(--color-text-primary);
    //             font-family: var(--main-font);
    //             font-size: 14px;
    //             font-weight: 700;
    //             font-style: normal;
    //             letter-spacing: 0px;
    //             text-align: left;
    //         }

    //         input[type='text'].input-address::placeholder {
    //             /* Chrome, Firefox, Opera, Safari 10.1+ */
    //             color: var(--color-text-secondary);
    //             font-style: italic;
    //             opacity: 1; /* Firefox */
    //         }

    //         // Remove spinner

    //         /* Chrome, Safari, Edge, Opera */
    //         input[type='text'].input-address::-webkit-outer-spin-button,
    //         input[type='text'].input-address::-webkit-inner-spin-button {
    //             -webkit-appearance: none;
    //             margin: 0;
    //         }

    //         /* Firefox */
    //         input[type='text'].input-address {
    //             -moz-appearance: textfield;
    //             line-height: 0px;
    //         }

    //         .caption {
    //             margin-top: 10px;
    //             margin-bottom: 0px;
    //             opacity: 1;
    //             color: var(--color-text-primary);
    //             font-family: var(--main-font);
    //             font-size: 14px;
    //             font-weight: 400;
    //             font-style: normal;
    //             letter-spacing: 0px;
    //             text-align: left;
    //             line-height: 16px;
    //         }
    //     }
    // }
}

.display-block {
    display: block;
}

.ant-layout-footer {
    padding: 24px 50px;
    font-size: 14px;
    background-color: transparent;
}

.rlogin-modal-close-button {
    display: none;
}

.rlogin-modal-lightbox {
    backdrop-filter: blur(5px) !important;
}

.ant-modal-title {
    font-size: 19px;
    font-weight: 600;
}

.ant-modal-close {
    /*top: -7px;*/
}

.content-last-operations {
    .ant-table-measure-row {
        display: none; // Hide header spacer (not used) to make scrollbar taller
    }
    .table-expanded-row {
        img {
            filter: var(--color-icon-link-filter);
        }

        a:link {
            color: var(--color-text-link);
        }
        a:visited {
            color: var(--color-text-link);
        }

        a:hover {
            text-decoration: underline !important;
        }
    }
}

.content-last-operations .table-event-name,
.content-last-operations .table-date-name {
    color: var(--color-text-secondary);
    font-size: 10px;
    font-weight: 600;
    font-style: SemiBold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.content-last-operations .table-amount,
.content-last-operations .table-date {
    color: var(--color-text-primary);
    font-size: 14px;
    font-weight: 600;
    font-style: SemiBold;
    letter-spacing: 0.61px;
}

.content-last-operations .table-asset-name {
    color: var(--color-text-primary);
    font-size: 8px;
    font-weight: 600;
    font-style: SemiBold;
    letter-spacing: 0.35px;
}

.content-last-operations .anticon-up-circle {
    font-size: 24px !important;
    color: var(--color-controls-foreground-on) !important;
}

.content-last-operations .anticon-down-circle {
    font-size: 24px !important;
    color: var(--color-controls-foreground-on) !important;
}

.token-symbol {
    color: var(--color-text-secondary);
    font-family: var(--brand-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    cursor: default;
}

.token-description {
    color: var(--color-text-primary);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: left;
}

.custom-table-light .ant-table-expanded-row > td,
.custom-table-light .ant-table-expanded-row:hover > td {
    background: var(--surface-color-inset) !important;
    box-shadow: var(--surface-shadow-inset);
}

.table-expanded-row {
    background-color: var(--surface-color-inset);
    box-shadow: var(--surface-shadow-inset);
    padding: var(--card-padding);
    margin: 0px 8px;
}

.dashboard-portfolio .ant-table-header {
    margin-left: 7px;
}

.ant-radio-checked .ant-radio-inner {
    border-color: var(--color-controls-foreground-on);
}

.ant-radio-disabled .ant-radio-inner {
    background-color: var(--color-controls-disabled);
    border: var(--color-controls-disabled);
}

.ant-radio-inner::after {
    background-color: var(--color-controls-foreground-on);
}

.input-title {
    color: var(--color-text-secondary);
}
.input-balance {
    color: var(--color-text-secondary);
    text-transform: capitalize;
}

.input-value {
    color: var(--color-text-primary);
}

.ant-table-thead .ant-table-cell-scrollbar {
    display: none;
}

/*
    --- Modal background backdrop color & blur settings ---
*/

.ant-modal-wrap {
    background-color: var(--modals-backdrop-color) !important;
}

.ant-modal-mask {
    backdrop-filter: blur(var(--modals-backdrop-blur)) !important;
}
