/*
section_header.scss contains all the css code for Header section not contained in global.scss
*/

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header-logo {
        width: 192px;
        height: 80px;

        background: var(--surface-color-1);
        box-shadow: var(--surface-shadow-1);

        line-height: 80px;
        border-radius: var(--card-border-radius);

        .logo-app {
            width: 127.25px;
            height: 42px;
            background-image: var(--brand-logo-main);
            background-size: 127.25px 42px;
            background-repeat: no-repeat;
            margin-left: 32px;
            margin-top: 19px;
        }
    }
    .wallet-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 8px 16px;
        gap: 8px;
        border-radius: var(--card-border-radius);
        width: 192px;
        height: 80px;
        margin-left: 31px;
        line-height: 80px;
        background: var(--surface-color-1);
        box-shadow: var(--surface-shadow-1);
        position: relative;
        .wallet-address {
            /* Auto layout */

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0px;
            gap: 8px;

            font-family: var(--main-font);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px; // identical to box height

            text-align: center;
            color: (var(--color-text-primary));
            // width: 128px; //prev values for showing language part too
            width: 160px;
            height: 24px;
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .wallet-address a {
            color: var(--color-icon-link-filter);
        }

        .logo-wallet {
            width: 24px;
            height: 24px;
            background-image: url('../icons/WalletOutline.svg');
            background-size: 24px 24px;
            background-repeat: no-repeat;
            filter: var(--color-navigation-icon-filter-default);
        }

        .wallet-address:hover {
            .logo-wallet {
                width: 24px;
                height: 24px;
                background-image: url('../icons/WalletFilled.svg');
                filter: var(--color-navigation-icon-filter-hover);
            }
        }

        .language-menu {
            position: absolute;
            top: 50%;
            right: 0;
            background-color: var(--surface-color-3);
            box-shadow: var(--surface-shadow-3);
            z-index: 10;
            width: 100%;
            font-family: var(--main-font);
            font-weight: 600;
            border-radius: var(--card-border-radius);

            .menu-item {
                justify-content: flex-start;
                background-color: var(--color-language-background-default);
                color: var(--color-language-text-default);
            }
            .menu-item-selected {
                justify-content: flex-start;
                background-color: var(--color-language-background-active);
                color: var(--color-language-text-active);
            }
            span {
                width: 90%;
            }
        }

        .language-menu > div > div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 40px;
            cursor: pointer;
            padding: 0 16px;
        }

        .menu-icon {
            margin-right: 10px;
            display: flex;
            align-items: center;
            width: 18%;
        }

        .menu-icon img {
            width: 24px;
            height: auto;
        }

        .language-menu > div > div:hover {
            background-color: var(--color-language-background-hover);
            color: var(--color-language-text-hover);
        }

        .language-menu > div > div:last-child {
            border-bottom: none;
        }
    }

    .wallet-translation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 80px;
        height: 24px;
        flex: none;
        order: 0;
        flex-grow: 0;
        width: 100%;
        a.translation-selector {
            opacity: 1;
            color: var(--color-text-primary);
            font-family: var(--main-font);
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            text-align: right;
        }
        .logo-translation {
            width: 24px;
            height: 24px;
            background-image: url('../icons/GlobeOutline.svg');
            background-size: 24px 24px;
            background-repeat: no-repeat;
            filter: var(--color-navigation-icon-filter-default);
        }
    }
    .wallet-translation:hover {
        .logo-translation {
            background-image: url('../icons/GlobeFilled.svg');
            filter: var(--color-navigation-icon-filter-hover);
        }
    }
}
