.ChartContainer {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    padding-bottom: 25px;
    padding-left: 0px;
    height: 340px;

    .ChartGraphic {
        display: flex;
        column-gap: 10px;
        flex-direction: row;
        justify-items: center;
        margin: 0 auto;
        width: 120px;
        height: 300px;

        .ChartColumn {
            display: flex;
            flex-basis: 50%;
            flex-direction: column;
            border: 1px solid var(--surface-color-1);

            .Bar {
                position: relative;
                flex-grow: 1;
                border: 1px solid var(--surface-color-1);
                background: var(--brand-color-base);

                div {
                    position: absolute;
                    bottom: 16px;
                    width: 100%;
                    color: var(--brand-color-overbrand);
                    font-weight: bold;
                    font-size: 8px;
                    line-height: 8px;
                    text-align: center;
                }

                &.Percent {
                    flex-grow: 0;
                    transition: ease all 0.5s;
                    background: var(--brand-color-dark);
                    height: 0;

                    &.Hidden {
                        background: transparent;
                    }
                }
            }
        }
    }

    .ChartText {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 20px;
        width: 86px;

        .percent {
            margin-bottom: 4px;
            color: var(--color-txt-primary);
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            font-family: var(--brand-font);
            letter-spacing: 0px;
            text-align: left;
        }

        .percent-note {
            width: 100%;
            color: var(--color-txt-primary);
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            font-family: var(--main-font);
            letter-spacing: 0px;
            text-align: left;
        }
    }
}
