.lastOp__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 64px;
}
.content-last-operations .ant-table-cell {
    border-radius: var(--card-border-radius);
}

// Four main columns (plus separators)

.LastOp__group__details {
    // border: 1px solid blue;
    display: flex;
    width: 100%;
}
.LastOp__group__dateStatus {
    // border: 1px solid greenyellow;
    display: flex;
    width: 400px;
}
.LastOp__expand-collapse {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    bottom: 16px;
    left: 8px;
}
.LastOp__origin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 208px;
}
.LastOp__destination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 100;
    width: 208px;
}
.lastOp__date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
}
.lastOp__status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 138px;
}
.LastOp__divider {
    margin: 0px 16px;
    border: 1px solid var(--dividers);
}

//

.lastOp__detail__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 220px;
}
.lastOp__detail__item--double {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 380px;
}

.lastOp__detail__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 224px;
}
.lastOp__detail__transfer {
    margin-left: 0;
}
.lastOp__detail__label {
    color: var(--color-text-secondary);
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.lastOp__detail__amount {
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.61px;
}
.lastOp__detail__date {
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.61px;
}
.lastOp__detail__token__container {
    margin-left: 16px;
}
.lastOp__detail__token__ticker {
    padding-top: 4px;
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: 8px;
    font-family: var(--main-font);
    letter-spacing: 0.35px;
    text-align: center;
}
.lastOp__detail__address {
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.61px;
}

// .flechita {
//     width: 80px;
//     background-color: darkcyan;
// }

@media (max-width: 768px) {
    .content-last-operations {
        padding: 8px !important;
    }
    // .content-last-operations {
    //     padding: 8px !important;
    // }
    .lastOp__row {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: stretch;
        height: auto;
        max-width: 100%;
        overflow: scroll;
        height: 153px;
    }
    .LastOp__expand-collapse {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        position: absolute;
        bottom: 16px;
        left: 8px;
    }
    .LastOp__group__details {
        flex-direction: column;
        height: 100%;
        max-width: 150px;
        // width: 208px;
        .LastOp__origin {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }
        .LastOp__destination {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            flex-grow: 100;
            width: 100%;
        }
    }
    .LastOp__group__dateStatus {
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
        // width: 110px;
    }
    .lastOp__detail__transfer {
        text-align: right;
    }
    .LastOp__divider {
        display: none;
    }

    .lastOp__date {
        position: absolute;
        left: 8px;
        top: 8px;
        .lastOp__detail__date {
            font-size: 14px;
        }
    }
    .lastOp__status {
        // display: none;
        position: absolute;
        left: 4px;
        top: 64px;
    }
    .LastOp__divider {
        // display: none;
    }
    .lastOp__detail__address {
        font-size: 10px;
        width: 100%;
    }
    // .flechita {
    //     position: absolute;
    //     bottom: 8px;
    //     left: 8px;
    //     z-index: 100;
    // }
    .ant-table-row-expand-icon-cell {
        display: none;
    }
    .LastOp__expanded__container {
    }

    .table-expanded-row {
        padding: 16px 8px !important;
        margin: 0px !important;
        .ant-table-cell {
            padding: 0 !important;
            margin: 0 !important;
        }
        .ant-table-tbody > tr > td {
            padding: 0 !important;
        }
    }
}
