[data-theme="dark"] {
    --default-theme: "dark";

    // BRANDING

    --brand-logo-main: url("../branding/logo-app-dark.svg");
    --brand-logo-main-small: url("../branding/logo-app-small-dark.svg");

    --brand-color-darker: #298f97;
    --brand-color-dark: #27afb9;
    --brand-color-base: #1ec7d3;
    --brand-color-light: #44dbe6;
    --brand-color-lighter: #64ecf6;
    --brand-color-overbrand: #ffffff;
    --brand-color-base-filter: invert(69%) sepia(95%) saturate(575%)
        hue-rotate(138deg) brightness(87%) contrast(90%);
    --brand-color-overbrand-filter: invert(9%) sepia(3%) saturate(2938%)
        hue-rotate(210deg) brightness(90%) contrast(84%);

    // Cards
    --card-border: 1px solid #4e445d;
    --card-border-radius: 16px;
    --card-padding: 32px;
    --card-padding-mobile: 8px;

    // Data backgrounds
    --data-background-color: #372f47;
    --data-background-radius: 4px;
    --data-background-padding: 8px 16px;
    --data-shadows-inset: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);

    // Common Margins
    --margin-vertical-small: 16px;
    --margin-vertical-medium: 32px;
    --margin-vertical-large: 40px;

    // MODALS
    --modals-padding: 16px 16px 16px 16px;
    --modals-border-radius: 4px;
    --modals-backdrop-color: rgba(24, 24, 26, 0.1);
    --modals-backdrop-blur: 2px;
    --modals-padding: 16px 16px 16px 16px;
    --modals-border-radius: 16px;

    //Surfaces
    --surface-background-image: linear-gradient(
        to left top,
        #383258,
        #312d4a
    ); // can be set to none

    --surface-color-0: #3a3057;
    --surface-color-1: #1a1a1d;
    --surface-shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-2: #2f2d33;
    --surface-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-3: #212128;
    --surface-shadow-3: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-inset: #27262c;
    --surface-shadow-inset: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.2);

    // Token icons
    --icon-token-size: 32px;

    // Dashboard icons background color
    --icon-background-color: #2b2e34;
    --icon-background-radius: 8px;

    // UI controls

    --color-controls-background: #26272f;
    --color-controls-disabled: #494c50;
    --color-controls-foreground-off: #8c8c89;
    --color-controls-foreground-on: #9d9d98;
    --color-controls-active: var(--brand-color-base);
    --dividers: #383241;

    // Buttons - common

    --btn-radius: 28px;
    --btn-radius-tiny: 4px;
    --btn-width: 200px;
    --btn-height: 54px;
    --btn-transition: 0.3s;
    --btn-small-height: 32px;
    --btn-small-padding: 16px;

    // Buttons - Primary

    --color-btn-primary-background-default: #7a6eaa;
    --color-btn-primary-txt-default: #27262c;
    --color-btn-primary-filter-default: invert(100%) sepia(29%) saturate(392%)
        hue-rotate(175deg) brightness(109%) contrast(102%);
    --color-btn-primary-icon-filter-default: invert(7%) sepia(25%)
        saturate(242%) hue-rotate(21deg) brightness(97%) contrast(107%);

    --color-btn-primary-background-hover: #1ec7d3;
    --color-btn-primary-txt-hover: #0c0c08;
    --color-btn-primary-filter-hover: invert(6%) sepia(18%) saturate(447%)
        hue-rotate(22deg) brightness(93%) contrast(102%);

    --color-btn-primary-background-active: #7a6eaa;
    --color-btn-primary-txt-active: #0c0c08;

    --color-btn-primary-background-disabled: #2a2933;
    --color-btn-primary-txt-disabled: #555260;
    --color-btn-primary-filter-disabled: invert(12%) sepia(1%) saturate(0%)
        hue-rotate(177deg) brightness(101%) contrast(98%);

    --color-btn-primary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0);

    // Buttons - Secondary

    --color-btn-secondary-background-default: transparent;
    --color-btn-secondary-txt-default: var(
        --color-btn-primary-background-default
    );

    --color-btn-secondary-background-hover: transparent;
    --color-btn-secondary-txt-hover: var(--color-btn-primary-background-hover);

    --color-btn-secondary-background-active: transparent;
    --color-btn-secondary-txt-active: #7a6eaa;

    --color-btn-secondary-background-disabled: #000000;
    --color-btn-secondary-txt-disabled: #000000;

    --color-btn-secondary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0);

    // Buttons - Tertiary

    --color-btn-tertiary-background-default: var(
        --color-btn-primary-background-default
    );
    --color-btn-tertiary-txt-default: var(--brand-color-base);

    --color-btn-tertiary-background-hover: transparent;
    --color-btn-tertiary-txt-hover: #7a6eaa;

    --color-btn-tertiary-background-active: transparent;
    --color-btn-tertiary-txt-active: #7a6eaa;

    --color-btn-tertiary-background-disabled: #232328;
    --color-btn-tertiary-txt-disabled: rgb(104, 104, 107);

    --color-btn-tertiary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0);

    // Semantic

    --color-btn-semantic-txt-default: #0c0c08;
    --color-btn-semantic-icon-filter-default: invert(6%) sepia(18%)
        saturate(447%) hue-rotate(22deg) brightness(93%) contrast(102%);

    --color-semantic-negative: #e95e5d;
    --color-semantic-neutral: #b5b5b5;
    --color-semantic-positive: #69e453;
    --filter-semantic-negative: invert(33%) sepia(83%) saturate(710%)
        hue-rotate(320deg) brightness(106%) contrast(97%);
    --filter-semantic-neutral: invert(88%) sepia(0%) saturate(2518%)
        hue-rotate(294deg) brightness(90%) contrast(71%);
    --filter-semantic-positive: invert(78%) sepia(47%) saturate(620%)
        hue-rotate(55deg) brightness(94%) contrast(93%);

    // Notifications

    --notification-success-background: var(--color-semantic-positive);
    --notification-success-text: #0c0c08;
    --notification-success-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-error-background: var(--color-semantic-negative);
    --notification-error-text: #0c0c08;
    --notification-error-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-warning-background: #0d0d0d;
    --notification-error-text: #0c0c08;
    --notification-error-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-info-background: #b5b5b5;
    --notification-info-text: #0c0c08;
    --notification-info-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-permanent-background: #1ec7d3;
    --notification-permanent-text: #0c0c08;
    --notification-permanent-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    // Main nav colors

    --color-nav-background-default: transparent;
    --color-nav-txt-default: #1ec7d3;
    --color-nav-icon-filter-default: invert(56%) sepia(65%) saturate(579%)
        hue-rotate(135deg) brightness(106%) contrast(80%);

    --color-nav-background-hover: transparent;
    --color-nav-txt-hover: #1ec7d3;
    --color-nav-icon-filter-hover: invert(56%) sepia(65%) saturate(579%)
        hue-rotate(135deg) brightness(106%) contrast(80%);

    --color-nav-background-active: #1ec7d3;
    --color-nav-txt-active: #27262c; //over hover color
    --color-nav-icon-filter-active: invert(13%) sepia(6%) saturate(951%)
        hue-rotate(210deg) brightness(94%) contrast(93%);

    --color-nav-background-disabled: transparent;
    --color-nav-txt-disabled: #e0e0e0; //over hover color
    --color-nav-icon-filter-disabled: invert(100%) sepia(20%) saturate(6237%)
        hue-rotate(317deg) brightness(107%) contrast(115%);

    // Mobile nav
    --color-mobilenav-header-background: var(--brand-color-base);
    --color-mobilenav-header-text: #ffffff;
    --color-mobilenav-header-shadow: 0px 4px -2px rgb(0, 0, 0);
    --color-mobilenav-header-filter: var(--brand-color-overbrand-filter);
    --color-mobilenav-background-default: var(--brand-color-base);
    --color-mobilenav-txt-default: var(--brand-color-overbrand);
    --color-mobilenav-icon-filter: var(--brand-color-overbrand-filter);

    // Language nav colors

    --color-language-background-default: transparent;
    --color-language-txt-default: #7f8a99;
    --color-language-icon-filter-default: invert(0%) sepia(7%) saturate(7500%)
        hue-rotate(341deg) brightness(98%) contrast(105%);

    --color-language-background-hover: #1ec7d3;
    --color-language-txt-hover: #0c0c08;
    --color-language-icon-filter-hover: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --color-language-background-active: transparent;
    --color-language-txt-active: #1ec7d3; //over hover color
    --color-language-icon-filter-active: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);

    --color-language-background-disabled: transparent;
    --color-language-txt-disabled: #e0e0e0; //over hover color
    --color-language-icon-filter-disabled: invert(85%) sepia(10%) saturate(1%)
        hue-rotate(314deg) brightness(106%) contrast(91%);

    // Dropdown menus
    --color-dropdown-background-default: #ffffff;
    --color-dropdown-txt-default: #ffffff;
    --color-dropdown-background-hover: #1ec7d3;
    --color-dropdown-txt-hover: #27262c;
    --color-dropdown-background-active: #1ec7d379;
    --color-dropdown-txt-active: #27262c;

    // Text colors & fonts

    --color-txt-primary: #c3ccd9;
    --color-txt-secondary: #667180;
    --color-txt-highlight: #1ec7d4;
    --color-txt-link: #1ec7d3;
    --color-txt-notification: #ffffff;
    --link-txt-style: underline;

    --color-icon-primary: invert(36%) sepia(25%) saturate(350%)
        hue-rotate(162deg) brightness(94%) contrast(86%);

    --color-icon-link-filter: invert(87%) sepia(30%) saturate(4376%)
        hue-rotate(137deg) brightness(87%) contrast(89%);
    --color-icon-link-hover-filter: invert(87%) sepia(30%) saturate(4376%)
        hue-rotate(137deg) brightness(87%) contrast(89%);

    --color-icon-link-secondary-filter: invert(69%) sepia(95%) saturate(575%)
        hue-rotate(138deg) brightness(87%) contrast(90%);
    --color-icon-link-secondary-hover-filter: invert(69%) sepia(95%)
        saturate(575%) hue-rotate(138deg) brightness(87%) contrast(90%);

    --brand-font: "Inter", sans-serif;
    --main-font: "Open Sans", sans-serif;

    // rLogin

    --rlogin-themeswitcher-display: none;
    --rlogin-title-background-color: #212128;
    --rlogin-content-title-color: var(--color-txt-primary);
    --rlogin-content-background-color: #26272f;
    --rlogin-content-shadow-inset: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    --rlogin-content-border-color: #212128;
    --rlogin-content-txt-color: var(--color-txt-primary);
    --rlogin-provider-background-color: #3e424a;
    --rlogin-provider-border-color: #1ec7d3;
    --rlogin-provider-border-shadow: 0px 4px 4px rgba(17, 17, 16, 0.618);
    --rlogin-spinner-color: #1ec7d3;

    --rlogin-border-radius: 4px;
    --rlogin-poweredby-color: white;
    --rlogin-logo-filter-color: invert(100%) sepia(0%) saturate(7438%)
        hue-rotate(319deg) brightness(108%) contrast(113%);
}
