// Variables
$breakpoint-mobile: 600px;

.ant-table-cell {
    border: none !important;
    padding: 0 !important;
}
.renderHeader {
    display: flex;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--dividers);
    padding-bottom: 8px;
    gap: 32px;
}
.renderRow {
    display: flex;
    margin-bottom: 16px;
    gap: 32px;
}
.date {
    width: 180px;
    text-align: left;
}
.asset {
    width: 100px;
    text-align: left;
}
.amount {
    width: 150px;
    text-align: right;
}
.event {
    width: 100px;
    text-align: left;
}
.status {
    width: auto;
    text-align: left;
}

@media (max-width: #{$breakpoint-mobile}) {
    .ant-table-wrapper {
        max-width: 100% !important;
    }
    .renderHeader,
    .renderRow {
        width: 100%;
        display: flex;
        gap: 8px;
        font-size: 12px;
    }
    .date {
        width: 76px;
        text-align: left;
    }
    .asset {
        width: 36px;
        text-align: left;
        font-size: 10px;
    }
    .amount {
        width: 90px;
        text-align: right;
    }
    .event {
        width: 40px;
        text-align: left;
    }
    .status {
        width: auto;
        text-align: left;
        font-size: 10px;
    }
    .ant-table-cell {
        padding: 4px 0px !important;
    }
}
