$breakpoint-mobile: 600px;
.renderHeader {
    margin-bottom: 8px;
    border-bottom: 1px solid var(--dividers);
    padding-bottom: 8px;
}
.date {
    width: 180px;
    text-align: left;
}
.asset {
    width: 100px;
    text-align: left;
}
.amount {
    width: 200px;
    text-align: right;
}
.event {
    width: 100px;
    text-align: left;
}
.status {
    width: auto;
    text-align: left;
}

.ant-table-cell {
    border: none !important;
}

@media (max-width: #{$breakpoint-mobile}) {
    .ant-table-wrapper {
        max-width: 100% !important;
    }
    .renderHeader,
    .renderRow {
        display: flex;
        gap: 12px;
    }
    .date {
        width: 64px;
        text-align: left;
    }
    .asset {
        width: 36px;
        text-align: left;
    }
    .amount {
        width: 350px;
        text-align: right;
    }
    .event {
        width: 40px;
        text-align: left;
    }
    .status {
        width: auto;
        text-align: left;
    }
    .ant-table-cell {
        padding: 4px 0px !important;
    }
}
