.currencyOption {
    display: flex;
    align-items: center;
    justify-content: start;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    /* Text/Text Primary */

    /*color: #C3CCD9;*/

    .currencyImage {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}
.currencyOption-abbr {
    margin-left: 7px; 
    font-weight: 700; 
    color: rgba(127, 138, 153, 1);
    line-height: 48px;
}
.ant-select-dropdown .ant-select-item-option-content {
    display: flex; 
    align-items: center;
}
.SelectCurrency {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .ant-select {
        width: 100%;
    }

    .ant-select-selection-item {
        display: flex;
        height: 100%;
    }
    .ant-select-selector {
        height: 48px !important;
        border-radius: 0 !important;
    }
    &.disabled {
        cursor: not-allowed;
        .ant-select-selection-item {
            padding-right: 0;
            right: 10px;
            position: absolute;
        }
        .ant-select-arrow {
            display: none;
        }
    }
    .ant-select-arrow {
        color: #000000 !important;
        font-weight: 700;
    }
}